<app-banner></app-banner>

<div class="page-container">
  <div class="title-text">
    Approve a transaction
  </div>
  <div class="main-text">
    <p class="pb-15px">
      {{ globalVars.hostname }} wants to {{ transactionDescription }}
    </p>
    <br/>
    <div *ngIf="transactionDeSoSpent">
      <p class="pb-15px">
        Total Cost: {{ transactionDeSoSpent }} $DESO
      </p>
    </div>
    <div class="d-flex align-items-end justify-content-between">
      <button type="button" class="button button-small button-secondary" (click)="onCancel()">Deny</button>
      <button type="button" class="button button-small button-primary" (click)="onSubmit()">Allow</button>
    </div>
  </div>
</div>
