<app-banner></app-banner>

<div class="container">
  <div class="title-text">Approve a transaction</div>
  <div class="main-text">
    <p class="padding-bottom--small">
      {{ globalVars.hostname }} wants to {{ transactionDescription }}
    </p>
    <div *ngIf="derivedKeyMemo">Memo: {{ derivedKeyMemo }}</div>
    <div *ngIf="transactionSpendingLimitResponse">
      <app-transaction-spending-limit
        [transactionSpendingLimitResponse]="transactionSpendingLimitResponse"
      ></app-transaction-spending-limit>
      <br/>
    </div>
    <div *ngIf="transactionDeSoSpent">
      <p class="padding-bottom--small">Total Cost: {{ transactionDeSoSpent }} $DESO</p>
    </div>
    <div class="display--flex items--end justify--between">
      <button
        type="button"
        class="button button-small button-secondary"
        (click)="onCancel()"
      >
        Deny
      </button>
      <button
        type="button"
        class="button button-small button-primary"
        (click)="onSubmit()"
      >
        Allow
      </button>
    </div>
  </div>
</div>
