<div class="input--textarea input--seed margin-bottom--small" style="background-color: black; overflow: hidden;">
  {{ this.isRevealed ? secret : maskSecret(secret) }}
</div>
<div class="margin-left--xsmall display--flex">
  <button
    (click)="copySecret()"
    class="button--primary button--small margin-left--auto"
    style="width: auto"
  >
    <i-feather [name]="copySuccess ? 'check' : 'copy'" />
  </button>
  <button
    (click)="toggleRevealSecret()"
    class="button--secondary button--small margin-left--small"
    style="width: auto"
  >
    <i-feather [name]="!this.isRevealed ? 'eye' : 'eye-off'" />
  </button>
</div>
