<div
  class="input--textarea input--seed margin-bottom--medium"
  style="background-color: black; overflow: hidden"
>
  {{ this.isRevealed ? secret : maskedSecret }}
</div>
<div class="margin-left--xsmall display--flex">
  <button
    (click)="copySecret()"
    class="button--primary button--small display--flex items--center"    
    style="width: auto; border: 1px solid transparent"
  >
    <i-feather [name]="copySuccess ? 'check' : 'copy'" style="width: 14px; height: 14px" />&nbsp;
    Copy to Cliboard
  </button>
  <button
    (click)="toggleRevealSecret()"
    class="button--small margin-left--small button--primary--outline display--flex items--center"
    style="width: auto;"
  >
    <i-feather [name]="!this.isRevealed ? 'eye' : 'eye-off'" style="width: 14px; height: 14px" />&nbsp;
    Reveal Phrase
  </button>
</div>
