<app-banner></app-banner>

<div
  *ngIf="
    !globalVars.callbackInvalid && !deleteKey && validationErrors === false
  "
  class="container home-container text-center d-flex flex-column"
>
  <div>
    <div class="title-text">
      Grant signing access
      <span *ngIf="!globalVars.callback">to {{ globalVars.hostname }}</span>
    </div>
    <app-account-select
      [allUsers$]="allUsers$"
      (onAccountSelect)="publicKeyBase58Check = $event"
      *ngIf="!publicKeyBase58Check"
    ></app-account-select>
    <div
      class="fs-18px pt-15px pb-5px"
      style="overflow: hidden; overflow-wrap: anywhere; word-break: break-all"
      *ngIf="derivedPublicKeyBase58Check"
    >
      <div class="pl-20px text-left d-flex justify-content-between">
        Public Key
        <span class="font-weight-normal pr-20px pb-15px text-left">{{
          publicKeyBase58Check | truncateAddress
        }}</span>
      </div>
      <div class="pl-20px text-left d-flex justify-content-between">
        Derived Public Key
        <span class="font-weight-normal pr-20px">{{
          derivedPublicKeyBase58Check | truncateAddress
        }}</span>
      </div>
    </div>
  </div>
  <div *ngIf="transactionSpendingLimitResponse" class="mb-40px">
    <app-transaction-spending-limit
      [transactionSpendingLimitResponse]="transactionSpendingLimitResponse"
    ></app-transaction-spending-limit>
  </div>
  <div></div>
  <button
    [disabled]="!publicKeyBase58Check"
    class="button btn-primary button-large mb-20px text-white font-weight-bold"
    (click)="approveDerivedKey(publicKeyBase58Check)"
  >
    Approve
  </button>

  <div class="container home-container" *ngIf="deleteKey">
    <div>
      <div class="fs-18px mt-30px">
        <span class="fs-underline"
          ><b
            >You're about to revoke signing access for a Derived Public Key</b
          ></span
        ><br />
        This means <b>{{ derivedPublicKeyBase58Check }}</b> will no longer be
        able to make transactions on your behalf.
      </div>
    </div>
  </div>
</div>
<div *ngIf="globalVars.callbackInvalid">
  <app-error-callback></app-error-callback>
</div>
<div *ngIf="validationErrors" class="text-center text-danger title-text">
  There was an issue rendering this page, are the query parameters correct?
</div>
