<app-banner></app-banner>

<div
  *ngIf="
    !globalVars.callbackInvalid && !deleteKey && validationErrors === false
  "
  class="container home-container text-center d-flex flex-column"
>
  <div>
    <div class="title-text">
      Grant signing access
      <span *ngIf="!globalVars.callback">to {{ globalVars.hostname }}</span>
    </div>
    <ng-container *ngIf="!publicKeyBase58Check">
      <app-account-select
        [allUsers]="allUsers"
        (onAccountSelect)="publicKeyBase58Check = $event"
      ></app-account-select>
      <div class="mb-2">or</div>
      <app-log-in-options></app-log-in-options>
    </ng-container>
    <div
      class="fs-18px pt-15px pb-5px"
      style="overflow: hidden; overflow-wrap: anywhere; word-break: break-all"
    >
      <div class="pl-20px text-left d-flex justify-content-between">
        Public Key
        <span class="font-weight-normal pr-20px pb-15px text-left">{{
          publicKeyBase58Check | truncateAddressOrUsername
        }}</span>
      </div>
      <div class="pl-20px text-left d-flex justify-content-between" *ngIf="derivedPublicKeyBase58Check">
        Derived Public Key
        <span class="font-weight-normal pr-20px">{{
          derivedPublicKeyBase58Check | truncateAddressOrUsername
        }}</span>
      </div>
    </div>
  </div>
  <div *ngIf="transactionSpendingLimitResponse" class="mb-40px">
    <app-transaction-spending-limit
      [transactionSpendingLimitResponse]="transactionSpendingLimitResponse"
    ></app-transaction-spending-limit>
  </div>
  <div></div>
  <button
    [disabled]="!publicKeyBase58Check"
    class="button btn-primary button-large mb-20px text-white font-weight-bold"
    (click)="approveDerivedKey(publicKeyBase58Check)"
  >
    Approve
  </button>
</div>
<div class="container home-container" *ngIf="deleteKey">
  <div class="fs-18px mt-30px">
    <span class="fs-underline mb-2"
      ><b
        >You're about to revoke signing access for a Derived Public Key</b
      ></span
    ><br />
    This means
    <b>{{ derivedPublicKeyBase58Check | truncateAddressOrUsername }}</b> will no
    longer be able to make transactions on your behalf.
  </div>
  <button
    [disabled]="!publicKeyBase58Check"
    class="button button-large btn-warning mb-20px text-black font-weight-bold mt-2"
    (click)="approveDerivedKey(publicKeyBase58Check)"
  >
    Revoke
  </button>
</div>
<div *ngIf="globalVars.callbackInvalid">
  <app-error-callback></app-error-callback>
</div>
<div *ngIf="validationErrors" class="text-center text-danger title-text">
  There was an issue rendering this page, are the query parameters correct?
</div>
