<div class="google-wrapper" *ngIf="loading">
  <div class="google-ball blue"></div>
  <div class="google-ball red"></div>
  <div class="google-ball yellow"></div>
  <div class="google-ball green"></div>
</div>

<div *ngIf="!loading">
  <app-banner></app-banner>
  <div class="container">
    <h4 class="text--neutral-white">Save your recovery code</h4>
    <div class="margin-top--small margin-bottom--small">
      You can use this DeSo seed phrase to login if you lose access to your
      Google account.
    </div>
    <div class="warning--error margin-bottom--small">
      Do not share this with anyone.
    </div>
    <div class="section--seed__container">
      <div class="section--seed__phrase">{{ mnemonic }}</div>
      <div
        class="margin-top--medium display--flex justify--between items--center flex--column--tablet gap--25--tablet"
      >
        >
        <div class="section--seed__actions">
          <button
            (click)="copySeed()"
            class="button--secondary button--small seed-phrase-button display--flex items--center"
          >
            <img
              *ngIf="seedCopied"
              src="assets/check-square.svg"
              width="16px"
              height="16px"
              class="margin-right--small image--invert"
            />
            <img
              *ngIf="!seedCopied"
              src="assets/copy.svg"
              class="margin-right--small image--invert"
            />
            <span>Copy</span>
          </button>
          <button
            (click)="downloadSeed()"
            class="button--secondary button--small display--flex items--center"
          >
            <img
              src="assets/download.svg"
              class="margin-right--small image--invert"
            />
            <span>Download</span>
          </button>
          <button
            (click)="printSeed()"
            class="button--secondary button--small display--flex items--center"
          >
            <img
              src="assets/print.svg"
              class="margin-right--small image--invert"
            />
            <span>Print</span>
          </button>
        </div>
      </div>
    </div>
    <div class="display--flex padding-top--medium justify--end">
      <button
        (click)="finishFlow(true)"
        class="button--primary button--medium button-large"
      >
        Continue to get $DESO!
      </button>
    </div>
  </div>
</div>
