<div class="google-wrapper" *ngIf="loading">
  <div class="google-ball blue"></div>
  <div class="google-ball red"></div>
  <div class="google-ball yellow"></div>
  <div class="google-ball green"></div>
</div>

<div *ngIf="!loading">
  <app-banner></app-banner>
  <div class="page-container">
    <div class="title-text">Save your recovery code</div>
    <div class="subtitle-text">You can use this DeSo seed phrase to login if you lose access to your Google account.</div>
    <div class="warning-text">Do not share this with anyone.</div>
    <div class="seed-phrase-container">
      <div class="px-25px pt-10px pb-30px border-bottom">{{ mnemonic }}</div>
      <div class="d-flex align-items-center justify-content-between py-20px px-25px">
        <div class="d-flex align-items-center">
          <button (click)="copySeed()" class="seed-phrase-button d-flex align-items-center">
            <img *ngIf="seedCopied" src="assets/check-square.svg" width="16px" height="16px" class="mr-5px"/>
            <img *ngIf="!seedCopied" src="assets/copy.svg" class="mr-5px"/>
            <span>Copy</span>
          </button>
          <button (click)="downloadSeed()" class="seed-phrase-button d-flex align-items-center ml-10px">
            <img src="assets/download.svg" class="mr-5px"/>
            <span>Download</span>
          </button>
          <button (click)="printSeed()" class="seed-phrase-button d-flex align-items-center ml-10px">
            <img src="assets/print.svg" class="mr-5px"/>
            <span>Print</span>
          </button>
        </div>
      </div>
    </div>
    <div class="d-flex pt-15px justify-content-end">
      <button (click)="finishFlow(true)" class="button button-primary button-large">
        Continue to get $DESO!
      </button>
    </div>
  </div>
</div>
