<!-- Top Bar -->
<div class="buy-deso__container p-16px" style="padding-top: 0px">
  <span class="buy-deso__title margin-bottom--xsmall">Buy Complete</span>
  <div class="w-100 border-bottom"></div>
  <div class="font-size--medium pt-16px pb-30px">
    <div class="buy-deso__title" style="font-size: 20px">
      New balance:
      {{ globalVars.nanosToDeSo(this.totalDeSoOwned, 9) }}
      $DESO
    </div>

    <div class="display--flex items--center margin-top--medium">
      <button class="button--primary" (click)="close()">Done</button>
      <span
        class="font-size--medium margin-left--medium cursor-pointer text--text-base"
        (click)="buyMoreDeSoClicked.emit()"
        >Buy more DESO</span
      >
    </div>
  </div>
</div>
