<div
  *ngIf="getSectionMapLength() || anyCreatorItem || anyNFTItem"
  class="box--border box--rounded box--base margin-bottom--medium"
>
  <div>
    <div class="justify--between text--left">
      <div class="items--center width--full">
        <div class="font--small text--text-lightest">
          <app-arrow-toggle
            (click)="showDetails = !showDetails"
          ></app-arrow-toggle>
          {{ sectionTitle }}
        </div>
        <div class="font--small paddin-top--small padding-left--large">
          {{ sectionSummary() }}
        </div>
      </div>
    </div>

    <div class="margin-top--medium" *ngIf="showDetails">
      <ng-container
        *ngIf="
          sectionTitle ===
          TransactionSpendingLimitComponent.TransactionLimitsSection
        "
      >
        <div class="display--flex justify--between items--center">
          <div class="text--text-lightest">Txn Type</div>
          <div class="text--text-lightest">Txn Limit</div>
        </div>
        <div
          *ngFor="
            let txnLimitItem of txnLimitMap
              | keyvalue
              | slice
                : 0
                : (showAll
                    ? globalVars.ObjectKeyLength(sectionMap)
                    : defaultNumShown)
          "
          class="padding-top--small display--flex justify--between"
        >
          <div>
            {{ globalVars.cleanSpendingLimitOperationName(txnLimitItem.key) }}
          </div>
          <code>{{ globalVars.formatTxCountLimit(txnLimitItem.value) }}</code>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          sectionTitle ===
            TransactionSpendingLimitComponent.CreatorCoinLimitsSection ||
          sectionTitle ===
            TransactionSpendingLimitComponent.DAOCoinLimitsSection
        "
      >
        <div *ngIf="anyCreatorItem" class="margin-bottom--medium">
          <app-transaction-spending-limit-coin
            coinPublicKey=""
            [coinOperationMap]="anyCreatorItem"
          ></app-transaction-spending-limit-coin>
        </div>
        <div
          *ngFor="
            let coinLimitItem of coinLimitMap
              | keyvalue
              | slice
                : 0
                : (showAll
                    ? globalVars.ObjectKeyLength(sectionMap)
                    : defaultNumShown)
          "
          class="display--flex flex--column padding-bottom--medium"
        >
          <app-transaction-spending-limit-coin
            [coinPublicKey]="coinLimitItem.key"
            [coinOperationMap]="coinLimitItem.value"
            [user]="userMap[coinLimitItem.key]"
            class="padding-bottom--small"
          ></app-transaction-spending-limit-coin>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          sectionTitle === TransactionSpendingLimitComponent.NFTLimitsSection
        "
      >
        <div *ngIf="anyNFTItem" class="margin-bottom--medium">
          <app-transaction-spending-limit-nft
            nftPostHashHex=""
            [nftSerialNumToOperationMap]="anyNFTItem"
          ></app-transaction-spending-limit-nft>
        </div>
        <div
          *ngFor="
            let nftLimitItem of nftLimitMap
              | keyvalue
              | slice
                : 0
                : (showAll
                    ? globalVars.ObjectKeyLength(sectionMap)
                    : defaultNumShown);
            let ii = index
          "
          class="display--flex flex--column padding-bottom--small"
        >
          <app-transaction-spending-limit-nft
            [nftPostHashHex]="nftLimitItem.key"
            [nftSerialNumToOperationMap]="nftLimitItem.value"
            class="padding-bottom--small"
          ></app-transaction-spending-limit-nft>
          <div
            class="flex-grow-1 transaction-spending-limit-separator"
            *ngIf="
              ii <
              (showAll
                ? globalVars.ObjectKeyLength(sectionMap)
                : defaultNumShown) -
                1
            "
          ></div>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          sectionTitle ===
          TransactionSpendingLimitComponent.DAOCoinLimitOrderLimitSection
        "
      >
        <div class="display--flex padding-bottom--small">
          <div class="width--40">Buying</div>
          <div class="width--40">Selling</div>
          <div class="width--20">Count</div>
        </div>
        <div
          *ngFor="
            let daoCoinLimitOrderLimitItem of daoCoinLimitOrderLimitItems
              | slice
                : 0
                : (showAll
                    ? daoCoinLimitOrderLimitItems.length
                    : defaultNumShown)
          "
          class="display--flex flex--column padding-bottom--small"
        >
          <app-transaction-spending-limit-dao-coin-limit-order
            [daoCoinLimitOrderLimitItem]="daoCoinLimitOrderLimitItem"
            [buyingUser]="userMap[daoCoinLimitOrderLimitItem.BuyingPublicKey]"
            [sellingUser]="userMap[daoCoinLimitOrderLimitItem.SellingPublicKey]"
          ></app-transaction-spending-limit-dao-coin-limit-order>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          sectionTitle === TransactionSpendingLimitComponent.AssociationSection
        "
      >
        <div
          *ngFor="
            let associationLimitMapItem of associationLimitMap
              | slice
                : 0
                : (showAll ? associationLimitMap.length : defaultNumShown)
          "
          class="display--flex flex--column padding-bottom--small"
        >
          <app-transaction-spending-limit-association
            [associationLimitMapItem]="associationLimitMapItem"
            [appUser]="userMap[associationLimitMapItem.AppPublicKeyBase58Check]"
          ></app-transaction-spending-limit-association>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          sectionTitle === TransactionSpendingLimitComponent.AccessGroupSection
        "
      >
        <div
          *ngFor="
            let accessGroupLimitMapItem of accessGroupLimitMap
              | slice
                : 0
                : (showAll ? accessGroupLimitMap.length : defaultNumShown)
          "
          class="display--flex flex--column padding-bottom--medium"
        >
          <app-transaction-spending-limit-access-group
            [accessGroupLimitMapItem]="accessGroupLimitMapItem"
            [appUser]="
              userMap[
                accessGroupLimitMapItem.AccessGroupOwnerPublicKeyBase58Check
              ]
            "
          ></app-transaction-spending-limit-access-group>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          sectionTitle ===
          TransactionSpendingLimitComponent.AccessGroupMemberSection
        "
      >
        <div
          *ngFor="
            let accessGroupMemberLimitMapItem of accessGroupMemberLimitMap
              | slice
                : 0
                : (showAll ? accessGroupMemberLimitMap.length : defaultNumShown)
          "
          class="display--flex flex--column padding-bottom--medium"
        >
          <app-transaction-spending-limit-access-group-member
            [accessGroupMemberLimitMapItem]="accessGroupMemberLimitMapItem"
            [appUser]="
              userMap[
                accessGroupMemberLimitMapItem
                  .AccessGroupOwnerPublicKeyBase58Check
              ]
            "
          ></app-transaction-spending-limit-access-group-member>
        </div>
      </ng-container>
      <ng-container
        *ngIf="sectionTitle === TransactionSpendingLimitComponent.StakeSection"
      >
        <div class="display--flex justify--between items--center">
          <div class="text--text-lightest">Validator</div>
          <div class="text--text-lightest">Amount</div>
        </div>
        <div
          *ngIf="anyValidatorItem"
          class="display--flex flex--column padding-top--small justify--between"
        >
          <app-transaction-spending-limit-stake
            [stakeLimitMapItem]="anyValidatorItem"
            [operationName]="'Stake'"
          ></app-transaction-spending-limit-stake>
        </div>
        <div
          *ngFor="
            let stakeLimitMapItem of stakeLimitMap
              | slice : 0 : (showAll ? stakeLimitMap.length : defaultNumShown)
          "
          class="display--flex flex--column padding-top--small justify--between"
        >
          <app-transaction-spending-limit-stake
            [stakeLimitMapItem]="stakeLimitMapItem"
            [appUser]="userMap[stakeLimitMapItem.ValidatorPublicKeyBase58Check]"
            [operationName]="'Stake'"
          ></app-transaction-spending-limit-stake>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          sectionTitle === TransactionSpendingLimitComponent.UnstakeSection
        "
      >
        <div class="display--flex justify--between items--center">
          <div class="text--text-lightest">Validator</div>
          <div class="text--text-lightest">Amount</div>
        </div>
        <div
          *ngIf="anyValidatorItem"
          class="display--flex flex--column padding-top--small justify--between"
        >
          <app-transaction-spending-limit-stake
            [stakeLimitMapItem]="anyValidatorItem"
            [operationName]="'Unstake'"
          ></app-transaction-spending-limit-stake>
        </div>
        <div
          *ngFor="
            let unstakeLimitMapItem of unstakeLimitMap
              | slice : 0 : (showAll ? unstakeLimitMap.length : defaultNumShown)
          "
          class="display--flex flex--column padding-top--small justify--between"
        >
          <app-transaction-spending-limit-stake
            [stakeLimitMapItem]="unstakeLimitMapItem"
            [appUser]="
              userMap[unstakeLimitMapItem.ValidatorPublicKeyBase58Check]
            "
            [operationName]="'Unstake'"
          ></app-transaction-spending-limit-stake>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          sectionTitle === TransactionSpendingLimitComponent.UnlockStakeSection
        "
      >
        <div class="display--flex justify--between items--center">
          <div class="text--text-lightest">Validator</div>
          <div class="text--text-lightest">Txn Limit</div>
        </div>
        <div
          *ngIf="anyValidatorItem"
          class="display--flex flex--column padding-top--small justify--between"
        >
          <app-transaction-spending-limit-stake
            [stakeLimitMapItem]="anyValidatorItem"
            [operationName]="'Unlock Stake'"
          ></app-transaction-spending-limit-stake>
        </div>
        <div
          *ngFor="
            let unlockStakeLimitMapItem of unlockStakeLimitMap
              | slice
                : 0
                : (showAll ? unlockStakeLimitMap.length : defaultNumShown)
          "
          class="display--flex flex--column padding-top--small justify--between"
        >
          <app-transaction-spending-limit-stake
            [stakeLimitMapItem]="unlockStakeLimitMapItem"
            [appUser]="
              userMap[unlockStakeLimitMapItem.ValidatorPublicKeyBase58Check]
            "
            [operationName]="'Unlock Stake'"
          ></app-transaction-spending-limit-stake>
        </div>
      </ng-container>
      <ng-container
        *ngIf="sectionTitle === TransactionSpendingLimitComponent.LockupSection"
      >
        <div class="display--flex justify--between items--center">
          <div class="text--text-lightest">Profile</div>
          <div class="text--text-lightest">Operation</div>
          <div class="text--text-lightest">Txn Limit</div>
        </div>
        <div
          *ngFor="let lockupLimitItem of anyLockupLimitItems"
          class="display--flex flex--column padding-top--small justify--between"
        >
          <app-transaction-spending-limit-lockup
            [lockupLimitMapItem]="lockupLimitItem"
          ></app-transaction-spending-limit-lockup>
        </div>
        <div
          *ngFor="
            let lockupLimitMapItem of lockupLimitMap
              | slice : 0 : (showAll ? lockupLimitMap.length : defaultNumShown)
          "
          class="display--flex flex--column padding-top--small justify--between"
        >
          <app-transaction-spending-limit-lockup
            [lockupLimitMapItem]="lockupLimitMapItem"
            [appUser]="userMap[lockupLimitMapItem.ProfilePublicKeyBase58Check]"
          ></app-transaction-spending-limit-lockup>
        </div>
      </ng-container>
    </div>
  </div>

  <div
    *ngIf="showDetails"
    class="display--flex justify--center margin-right--medium margin-left--medium"
    (click)="
      showDetails = !showAll;
      showAll = !showAll || getSectionMapLength() <= defaultNumShown
    "
  ></div>
</div>
