<ng-container *ngIf="globalVars.ObjectKeyLength(sectionMap) || anyCreatorItem || anyNFTItem">
  <div class="flex-grow-1 transaction-spending-limit-separator pt-15px"></div>
  <div class="py-15px">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column">
        <div class="fs-18px">{{ sectionTitle }}</div>
        <div class="fs-14px">
          {{ sectionSummary() }}
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <a
          (click)="showDetails = !showDetails"
          class="link"
          style="font-size: 18px !important;"
        >{{ showDetails ? "Hide" : "Show" }}
        </a>
      </div>
    </div>

    <div
      class="d-flex flex-column pt-15px"
      *ngIf="showDetails"
    >
      <ng-container
        *ngIf="sectionTitle == TransactionSpendingLimitComponent.TransactionLimitsSection">
        <div
          class="d-flex justify-content-between fs-14px py-5px"
        >
          <div>Txn Type</div>
          <div>Txn Limit</div>
        </div>
        <div
          *ngFor="
          let txnLimitItem of txnLimitMap |
            keyvalue |
            slice:0:(showAll ? globalVars.ObjectKeyLength(sectionMap) : defaultNumShown) "
          style="border-top: 1px dotted grey;"
          class="d-flex justify-content-between py-5px"
        >
          <div>{{ globalVars.cleanSpendingLimitOperationName(txnLimitItem.key) }}</div>
          <div>{{ txnLimitItem.value }}</div>
        </div>
      </ng-container>
      <ng-container
        *ngIf="sectionTitle == TransactionSpendingLimitComponent.CreatorCoinLimitsSection ||
        sectionTitle == TransactionSpendingLimitComponent.DAOCoinLimitsSection"
      >
        <div
          *ngIf="anyCreatorItem"
          style="border: 2px solid goldenrod; border-radius: 5px;"
          class="mb-15px px-5px py-15px"
        >
          <app-transaction-spending-limit-coin
            coinPublicKey=""
            [coinOperationMap]="anyCreatorItem"
            [sectionTitle]="sectionTitle"
          ></app-transaction-spending-limit-coin>
        </div>
        <div
          *ngFor="
          let coinLimitItem of coinLimitMap |
            keyvalue |
            slice:0:(showAll ? globalVars.ObjectKeyLength(sectionMap) : defaultNumShown) "
          class="d-flex flex-column pb-15px"
        >
          <app-transaction-spending-limit-coin
            [coinPublicKey]="coinLimitItem.key"
            [coinOperationMap]="coinLimitItem.value"
            [sectionTitle]="sectionTitle"
            [user]="userMap[coinLimitItem.key]"
            class="pb-15px"
          ></app-transaction-spending-limit-coin>
        </div>
      </ng-container>
      <ng-container
        *ngIf="sectionTitle == TransactionSpendingLimitComponent.NFTLimitsSection">
        <div
          *ngIf="anyNFTItem"
          style="border: 2px solid goldenrod; border-radius: 5px;"
          class="mb-15px px-5px py-15px"
        >
          <app-transaction-spending-limit-nft
            nftPostHashHex=""
            [nftSerialNumToOperationMap]="anyNFTItem"
            [sectionTitle]="sectionTitle"
          ></app-transaction-spending-limit-nft>
        </div>
        <div
          *ngFor="
          let nftLimitItem of nftLimitMap |
            keyvalue |
            slice:0:(showAll ? globalVars.ObjectKeyLength(sectionMap) : defaultNumShown);
          let ii = index "
          class="d-flex flex-column pb-15px"
        >
          <app-transaction-spending-limit-nft
            [nftPostHashHex]="nftLimitItem.key"
            [nftSerialNumToOperationMap]="nftLimitItem.value"
            [sectionTitle]="sectionTitle"
            class="pb-15px"
          ></app-transaction-spending-limit-nft>
          <div
            class="flex-grow-1 transaction-spending-limit-separator"
            *ngIf="ii < (showAll ? globalVars.ObjectKeyLength(sectionMap) : defaultNumShown) -1 "
          ></div>
        </div>

      </ng-container>
    </div>
  </div>

  <div
    *ngIf="showDetails"
    class="d-flex justify-content-center mr-15px ml-15px"
    style="background: lightgray; border: 1px solid darkgray; border-radius: 2px"
    (click)="showDetails = !showAll; showAll = !showAll || globalVars.ObjectKeyLength(sectionMap) <= defaultNumShown;"
  >
    {{ showAll ? "Hide" : "Show all" }} {{ globalVars.ObjectKeyLength(sectionMap) }} {{ sectionItemType() }}s
  </div>
</ng-container>
