<div *ngIf="transactionSpendingLimitResponse">
  <div *ngIf="!transactionSpendingLimitResponse.IsUnlimited">
    <div class="d-flex justify-content-between px-20px fs-18px">
      <div class="text-left">Cumulative Spending Limit</div>
      <div>
        {{
        globalVars.nanosToDeSo(
        transactionSpendingLimitResponse.GlobalDESOLimit || 0,
        4
        )
        }}
        DESO
      </div>
    </div>
    <app-transaction-spending-limit-section
      [sectionMap]="transactionSpendingLimitResponse.TransactionCountLimitMap"
      [sectionTitle]="TransactionSpendingLimitComponent.TransactionLimitsSection"
      *ngIf="transactionSpendingLimitResponse.TransactionCountLimitMap"
    ></app-transaction-spending-limit-section>
    <app-transaction-spending-limit-section
      [sectionMap]="transactionSpendingLimitResponse.CreatorCoinOperationLimitMap"
      [sectionTitle]="TransactionSpendingLimitComponent.CreatorCoinLimitsSection"
      [userMap]="userMap"
      *ngIf="transactionSpendingLimitResponse.CreatorCoinOperationLimitMap"
    ></app-transaction-spending-limit-section>
    <app-transaction-spending-limit-section
      [sectionMap]="transactionSpendingLimitResponse.DAOCoinOperationLimitMap"
      [sectionTitle]="TransactionSpendingLimitComponent.DAOCoinLimitsSection"
      [userMap]="userMap"
      *ngIf="transactionSpendingLimitResponse.DAOCoinOperationLimitMap"
    ></app-transaction-spending-limit-section>
    <app-transaction-spending-limit-section
      [sectionMap]="transactionSpendingLimitResponse.NFTOperationLimitMap"
      [sectionTitle]="TransactionSpendingLimitComponent.NFTLimitsSection"
      *ngIf="transactionSpendingLimitResponse.NFTOperationLimitMap"
    >
    </app-transaction-spending-limit-section>
    <app-transaction-spending-limit-section
      [sectionMap]="transactionSpendingLimitResponse.DAOCoinLimitOrderLimitMap"
      [sectionTitle]="
      TransactionSpendingLimitComponent.DAOCoinLimitOrderLimitSection
    "
      [userMap]="userMap"
      *ngIf="transactionSpendingLimitResponse.DAOCoinLimitOrderLimitMap"
    >
    </app-transaction-spending-limit-section>
    <app-transaction-spending-limit-section
      [sectionMap]="transactionSpendingLimitResponse.AssociationLimitMap"
      [sectionTitle]="TransactionSpendingLimitComponent.AssociationSection"
      [userMap]="userMap"
      *ngIf="transactionSpendingLimitResponse.AssociationLimitMap"
      ></app-transaction-spending-limit-section>
    <app-transaction-spending-limit-section
      [sectionMap]="transactionSpendingLimitResponse.AccessGroupLimitMap"
      [sectionTitle]="TransactionSpendingLimitComponent.AccessGroupSection"
      [userMap]="userMap"
      *ngIf="transactionSpendingLimitResponse.AccessGroupLimitMap"
      ></app-transaction-spending-limit-section>
    <app-transaction-spending-limit-section
      [sectionMap]="transactionSpendingLimitResponse.AccessGroupMemberLimitMap"
      [sectionTitle]="TransactionSpendingLimitComponent.AccessGroupMemberSection"
      [userMap]="userMap"
      *ngIf="transactionSpendingLimitResponse.AccessGroupMemberLimitMap"
      ></app-transaction-spending-limit-section>
  </div>

  <div class="mt-5">
    <button
      data-control-name="tx-spending-limit-approve-button"
      [attr.data-control-is-unlimited]="this.transactionSpendingLimitResponse.IsUnlimited"
      [attr.data-control-is-full-access-host]="this.globalVars.isFullAccessHostname()"
      [attr.data-control-tx-memo]="this.transactionSpendingLimitResponse.DerivedKeyMemo"
      class="button btn-primary button-large text-white font-weight-bold"
      (click)="this.onApproveClick()"
    >
      Approve
    </button>
  </div>

  <div class="mt-3 text-center" *ngIf="transactionSpendingLimitResponse?.IsUnlimited">
    <div *ngIf="this.globalVars.isFullAccessHostname(); else elseBlock">
      By clicking approve, you are granting <strong>{{ globalVars.hostname }}</strong> unlimited signing access for your account.
    </div>
    <ng-template #elseBlock>
      <div class="warning-text">
        By clicking approve, you are granting <strong>{{ globalVars.hostname }}</strong> unlimited signing access for your account.
      </div>
    </ng-template>
  </div>

  <div *ngIf="transactionSpendingLimitResponse.DerivedKeyMemo">
    <div class="flex-grow-1 pt-15px"></div>
    <div class="py-15px mb-2">
      <div class="fs-18px">Memo</div>
      <div>{{ transactionSpendingLimitResponse.DerivedKeyMemo }}</div>
    </div>
  </div>
</div>
