<div class="google-wrapper" *ngIf="autoOpenJumio">
  <div class="google-ball blue"></div>
  <div class="google-ball red"></div>
  <div class="google-ball yellow"></div>
  <div class="google-ball green"></div>
</div>
<div *ngIf="!autoOpenJumio">
  <div class="font-size--large font-weight-bold pt-15px">
    Earn <app-free-deso-message></app-free-deso-message> Free
  </div>
  <div class="display--flex items--center">
    <div>
      <div class="font-size--medium margin-top--medium">
        Click the button below to prove you're not a robot and earn
        <app-free-deso-message></app-free-deso-message> <b>free</b>!
      </div>
    </div>
  </div>
  <div class="display--flex pt-15px justify--end">
    <button
      (click)="skip()"
      class="btn-outline-primary font-weight-bold font-size--medium sign-up-mr-2"
      *ngIf="showSkip"
    >
      Skip
    </button>
    <button
      (click)="openJumio()"
      class="button--primary font-weight-bold font-size--medium sign-up-btn"
    >
      Earn <app-free-deso-message></app-free-deso-message> <b>Free</b>
    </button>
  </div>
  <div class="pt-5px">
    <app-free-deso-disclaimer></app-free-deso-disclaimer>
  </div>
</div>
