<div class="google-wrapper" *ngIf="autoOpenJumio">
  <div class="google-ball blue"></div>
  <div class="google-ball red"></div>
  <div class="google-ball yellow"></div>
  <div class="google-ball green"></div>
</div>
<div *ngIf="!autoOpenJumio">
  <div class="fs-24px font-weight-bold pt-15px">Get {{ globalVars.getFreeCloutMessage() }} Free</div>
  <div class="d-flex align-items-center">
    <div>
      <div class="fs-15px mt-15px">
        Click the button below to prove you're not a robot and receive <b>{{ globalVars.getFreeCloutMessage() }} free</b>!
      </div>
    </div>
  </div>
  <div class="d-flex pt-15px justify-content-end">
    <button
      (click)="skip()"
      class="btn btn-outline-primary font-weight-bold fs-15px sign-up-btn mr-2"
      *ngIf="showSkip"
    >
      Skip
    </button>
    <button (click)="openJumio()" class="btn btn-primary font-weight-bold fs-15px sign-up-btn">
      Get  <b>{{ globalVars.getFreeCloutMessage() }} Free</b>
    </button>
  </div>
</div>
