<div class="d-flex flex-column">
  <div class="d-flex justify-content-between flex-grow-1">
    <div class="d-flex justify-content-start align-items-center">
      <img
        src="assets/{{ expandCreator ? 'down' : 'right' }}.png"
        (click)="expandCreator = !expandCreator"
        class="arrow"
        width="25px"
        height="25px"
      />
      <div
        class="avatar mr-15px"
        [appAvatar]="coinPublicKey"
        *ngIf="coinPublicKey"
      ></div>
      <div class="d-block" style="display: block; max-width: 200px">
        {{
          coinPublicKey === ""
            ? "All Creators"
            : user?.ProfileEntryResponse?.Username ||
              truncatePublicKey(coinPublicKey)
        }}
      </div>
      <!-- TODO: Add verified check -->
    </div>
    <div class="d-flex justify-content-end fs-14px">
      <div class="d-flex align-items-center justify-content-center">
        {{ getOperationsString(coinOperationMap) }}
      </div>
      <!-- <img src="assets/down.png" height="15px" />
        {{ expandCreator ? "Hide" : "Show" }} -->
      <!-- </div> -->
    </div>
  </div>
  <div
    class="d-flex flex-column pt-15px pl-15px ml-15px mt-15px"
    *ngIf="expandCreator"
  >
    <div class="d-flex fs-14px justify-content-between">
      <div>Operation Type</div>
      <div>Operation Limit</div>
    </div>
    <div
      class="d-flex fs-18px justify-content-between py-10px"
      *ngFor="let opLimit of coinOperationMap | keyvalue; let ii = index"
      [ngStyle]="{
        'border-bottom':
          ii < globalVars.ObjectKeyLength(coinOperationMap) - 1
            ? '3px dotted darkgray'
            : 'none'
      }"
    >
      <div>{{ globalVars.cleanSpendingLimitOperationName(opLimit.key) }}</div>
      <div>{{ opLimit.value }}</div>
    </div>
  </div>
</div>
