<div class="width--100 text--left">
  <div class="display--flex justify--between text--text-lightest">
    <div class="display--flex items--center">
      <app-arrow-toggle (click)="expandCreator = !expandCreator">
      </app-arrow-toggle>
      <div
        class="avatar--small"
        [appAvatar]="coinPublicKey"
        *ngIf="coinPublicKey"
      ></div>
      <div class="display--block">
        {{
          coinPublicKey === ''
            ? 'All Creators'
            : user?.ProfileEntryResponse?.Username ||
              (coinPublicKey | truncateAddressOrUsername)
        }}
      </div>
      <!-- TODO: Add verified check -->
    </div>
    <div class="display--flex justify--end items--center">
      {{ getOperationsString(coinOperationMap) }}
    </div>
  </div>
  <div class="display--flex justify--between flex--column items--center margin-top--small" *ngIf="expandCreator">
    <div 
      class="display--flex width--100 justify--between items--center margin-bottom--small"
      *ngFor="let opLimit of coinOperationMap | keyvalue; let ii = index"
    >
      <div>Operation Type</div>
      <code>{{ globalVars.cleanSpendingLimitOperationName(opLimit.key) }}</code>
    </div>
    <div
      class="display--flex width--100 justify--between items--center"
      *ngFor="let opLimit of coinOperationMap | keyvalue; let ii = index"
    >
      <div>Operation Limit</div>
      <code>{{ globalVars.formatTxCountLimit(opLimit.value) }}</code>
    </div>
  </div>
</div>
