<app-banner></app-banner>

<div
  class="container home-container text-center"
  *ngIf="globalVars.inTab || globalVars.webview"
>
  <div *ngIf="this.currentScreen === SCREEN.CREATE_ACCOUNT">
    <div class="mb-20px">
      <span class="title-text">Sign up / Log in using MetaMask</span>
      <div class="main-text mb-2">
        Enter the Decentralized Social using your MetaMask wallet.
      </div>
      <p class="txtalj mt-20px">
        DeSo is a novel blockchain built for web3 social networks. It enables a
        new category of apps that combine the innovations of decentralized
        finance and social. To get started, let's set you up with an account.
        This Metamask integration will allow you to create a DeSo wallet derived
        off of your ETH wallet. When you click the button below, you will be
        asked to
        <a
          href="https://docs.metamask.io/guide/signing-data.html#signing-data-with-metamask"
          >sign</a
        >
        a message that will tell the DeSo blockchain validators that you're
        creating a new wallet
      </p>
      <button
        class="button button-large mb-20px bg-dark text-white mt-20px"
        (click)="launchMetamask()"
      >
        <img
          *ngIf="metamaskState !== METAMASK.CONNECT"
          src="assets/metamask.png"
          height="32px"
          width="32px"
          class="mr-10px"
        />

        <img
          *ngIf="metamaskState === METAMASK.CONNECT"
          height="32px"
          width="32px"
          class="mr-3"
          src="assets/spinner.gif"
        />
        <span class="font-weight-bold"
          >Connect<span *ngIf="metamaskState === METAMASK.CONNECT"
            >ing</span
          ></span
        >
      </button>

      <div *ngIf="metamaskState === METAMASK.ERROR" class="text-danger">
        {{ errorMessage }}
      </div>
    </div>
  </div>
  <div *ngIf="this.currentScreen === SCREEN.LOADING">
    <img src="assets/spinner.gif" />
  </div>
  <div *ngIf="this.currentScreen === SCREEN.ACCOUNT_SUCCESS">
    <span class="title-text">Congratulations!</span>
    <div class="main-text mb-2">
      You created your deso account through metamask. Click below to login into
      your account.
    </div>
    <!-- <p> Click next to continue the account setup process and register your
      messaging keys. This step is optional, if you're not planning on using
      messaging apps on the DeSo blockchain, feel free to skip or wait for the
      timer to hit zero.
    </p> -->
    <!-- <p class="font-weight-bold">Time: {{ timeoutTimer }}s</p> -->
    <div class="d-flex justify-content-center">
      <button
        (click)="login()"
        class="button button-small mb-20px bg-dark text-white mt-20px"
      >
        login
      </button>
    </div>
  </div>
  <div *ngIf="this.currentScreen === SCREEN.AUTHORIZE_MESSAGES">
    <span class="title-text">Authorize Derived Key</span>
    <div class="main-text mb-2">
      Ask metamask for permission to generate your account
    </div>
    <p>
      After signing this message your account will be generated with full
      permissions to post, comment, tip, and message.
    </p>
  </div>
  <div *ngIf="this.currentScreen === SCREEN.MESSAGES_SUCCESS">
    <span class="title-text">Success!</span>
    <div class="main-text mb-2">
      you can now start using any app on the Deso blockchain
    </div>

    <img height="200px" width="200px" src="assets/check.png" class="mr-10px" />
    <div>
      <a href="http://google.com" class="h5">Finish</a>
    </div>
  </div>
</div>
