<app-banner></app-banner>

<div
  *ngIf="this.currentScreen === this.SCREEN.LOADING; else mainContent"
  class="d-flex justify-content-center align-items-center"
>
  <div
    class="spinner-border mr-3"
    style="width: 12rem; height: 12rem">
  </div>
</div>
<ng-template #mainContent>
  <div
    class="container text--center"
    *ngIf="globalVars.inTab || globalVars.webview || globalVars.redirectURI"
  >
    <div *ngIf="this.currentScreen === SCREEN.CREATE_ACCOUNT">
      <img src="assets/image-metamask.svg" width="140px" class="section--accounts__illustration"/>
      <div class="margin-bottom--medium">
          <h3 class="text--neutral-white margin-bottom--large">
          Create an account using<br/>your MetaMask wallet
        </h3>
        <div class="box--border box--rounded box--large margin-bottom--large text--text-lighter">
          <p>
            DeSo is a new blockchain built to power web3 social networks.
          </p>
          <p class="margin-top--medium">
            With DeSo, your MetaMask keys control your content the same way they
            control your funds. <strong class="text--text-lightest">Your keys = your content.</strong>
          </p>
          <p class="margin-top--medium">
            When you click  <strong class="text--text-lightest">"Connect"</strong> below, you will be asked to sign a
            transaction to create an account on the DeSo blockchain. Using DeSo
            doesn't cost ETH gas fees so creating an account only requires proof
            of identity.
          </p>
          <div *ngIf="metamaskState === METAMASK.ERROR" class="mt-20px">
            <div class="text-danger">
              {{ errorMessage }}
              <span
                *ngIf="showAlternative"
                class="fc-blue cursor-pointer fs-underline-hover"
              >
                <a (click)="redirectToLogIn()"
                  >Alternatively, you can sign up with other methods.</a
                >
              </span>
            </div>
          </div>
        </div>
        <button
          class="button--primary button--medium"
          (click)="launchMetamask()"
        >
          <img
            *ngIf="metamaskState !== METAMASK.CONNECT"
            src="assets/metamask.png"
            height="32px"
            width="32px"
            class="margin-right--small"
          />

          <div
            class="spinner-border margin-right--small"
            style="width: 25px; height: 25px"
            *ngIf="metamaskState === METAMASK.CONNECT"
          ></div>
          <span class="font-weight-bold"
            >Connect<span *ngIf="metamaskState === METAMASK.CONNECT"
              >ing</span
            ></span
          >
        </button>
      </div>

      <ng-container *ngIf="existingConnectedWallet">
        <div class="fc-secondary">
          Detected account:
          {{ existingConnectedWallet | truncateAddressOrUsername }}
        </div>
        <div class="fc-muted fs-14px">
          If this is not the account you want to connect please open MetaMask,
          pick the correct account and click connect.
        </div>
      </ng-container>
    </div>
    <div *ngIf="this.currentScreen === SCREEN.AUTHORIZE_MESSAGES">
      <span class="title-text">Authorize Derived Key</span>
      <div class="main-text mb-2">
        Ask metamask for permission to generate your account
      </div>
      <p>
        After signing this message your account will be generated with full
        permissions to post, comment, tip, and message.
      </p>
    </div>
  </div>
</ng-template>
