<app-banner></app-banner>
<ng-template #continueToHost>
  <div class="d-flex pt-15px justify-content-between">
    <button
      (click)="finishFlow()"
      class="button button-secondary button-large font-weight-bold fs-15px sign-up-btn"
    >
      <div *ngIf="globalVars.callback; else elseBlock">Continue</div>
      <ng-template #elseBlock>Continue to {{ globalVars.hostname }}</ng-template>
    </button>
  </div>
</ng-template>
<div class="page-container" *ngIf="loading">
  <div class="google-wrapper">
    <div class="google-ball blue"></div>
    <div class="google-ball red"></div>
    <div class="google-ball yellow"></div>
    <div class="google-ball green"></div>
  </div>
</div>
<div class="page-container" *ngIf="!loading && !user">
  <div class="fs-18px mb-5px">
    We were unable to locate a user associated with the public key provided. Please exit and try again.
  </div>
  <div class="fs-15px mb-15px fc-muted">
    Public Key provided: {{ publicKey }}
  </div>
  <ng-container *ngTemplateOutlet="continueToHost"></ng-container>
</div>
<div class="page-container" *ngIf="(globalVars.inTab || globalVars.webview || globalVars.callback) && !loading && user && user.HasPhoneNumber">
  <div class="fs-18px mb-15px">
    You have already received starter DESO for verifying your phone number.
  </div>
  <ng-container *ngTemplateOutlet="continueToHost"></ng-container>
</div>
<div class="page-container" *ngIf="(globalVars.inTab || globalVars.webview || globalVars.callback) && !loading && user && !user.HasPhoneNumber">

  <div *ngIf="screenToShow == SignUpGetStarterDESOComponent.CREATE_PHONE_NUMBER_VERIFICATION_SCREEN">
    <div class="fs-18px">
      Verify your phone number for free DESO. Your phone number will never be shared with anyone.
    </div>

    <form #f="ngForm" [formGroup]="phoneForm" class="form-group mt-15px">
      <ngx-intl-tel-input
        style="font-size: 15px !important"
        [cssClass]="'form-control sign-up__phone-input'"
        [separateDialCode]="true"
        [enableAutoCountrySelect]="true"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [selectFirstCountry]="false"
        [selectedCountryISO]="CountryISO.UnitedStates"
        maxLength=15
        [phoneValidation]="true"
        (ngModelChange)="onPhoneNumberInputChanged()"
        name="phone"
        formControlName="phone"
      ></ngx-intl-tel-input>

      <div class="fc-red fs-15px">
        <!-- TODO: kinda obnoxious how this displays an error as soon as I start typing-->
        <div *ngIf="f.form.value.phone && f.form.controls.phone.invalid" class="mt-10px">
          Please enter a valid phone number
        </div>

        <div *ngIf="sendPhoneNumberVerificationTextServerErrors.phoneNumberAlreadyInUse" class="mt-10px">
          This phone number is being used by another account. Please use a different phone number or sign into your other
          account.
        </div>

        <div *ngIf="sendPhoneNumberVerificationTextServerErrors.maxSendAttemptsReached" class="mt-10px">
          You've requested too many verification codes. Please wait 10 minutes and try again.
        </div>

        <div *ngIf="sendPhoneNumberVerificationTextServerErrors.voipNumberNotAllowed" class="mt-10px">
          This phone number is a VOIP number, which isn't allowed (to prevent spam). Please try again with a different
          phone number.
        </div>

        <div *ngIf="sendPhoneNumberVerificationTextServerErrors.chineseNumberNotAllowed" class="mt-10px">
          Currently we can't send text messages to China. If you have a non-Chinese number, please try that. If not, click
          "skip" below. You can still use the site by buying DeSo.
        </div>
        <div *ngIf="sendPhoneNumberVerificationTextServerErrors.unknownError" class="mt-10px">
          {{ sendPhoneNumberVerificationTextServerErrors.unknownError }}
        </div>
      </div>
    </form>

    <div class="fs-10px">
      By proceeding, you agree to receive text messages from deso.org (standard rates apply)
    </div>

    <div class="d-flex mt-15px justify-content-end">
      <div>
        <a
          *ngIf="displayForSignupFlow"
          (click)="onSkipButtonClicked()"
          class="button button-secondary button-small font-weight-bold fs-15px"
        >
          Skip
        </a>
        <a
          (click)="sendVerificationText()"
          [ngClass]="{ disabled: !phoneForm.valid, 'btn-loading': sendingPhoneNumberVerificationText }"
          class="button button-primary button-small font-weight-bold fs-15px ml-10px"
        >
          Next
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="screenToShow == SignUpGetStarterDESOComponent.SUBMIT_PHONE_NUMBER_VERIFICATION_SCREEN">
    <div class="fs-18px">
      Enter the 6 digit code sent to {{ phoneNumber }}
      <div class="mt-5px">
        <a href="" (click)="resendVerificationCode($event)">Resend</a>
        <i *ngIf="resentVerificationCode" class="far fa-check-circle fc-blue"></i>
      </div>

      <div *ngIf="sendPhoneNumberVerificationTextServerErrors.maxSendAttemptsReached" class="mt-5px fc-red fs-15px">
        You've requested too many verification codes. Please wait 10 minutes and try again.
      </div>
    </div>

    <form #f="ngForm" [formGroup]="verificationCodeForm" class="form-group pt-10px">
      <input
        class="form-control"
        name="verificationCode"
        formControlName="verificationCode"
        (ngModelChange)="onVerificationCodeInputChanged()"
      />

      <div class="fc-red fs-15px">
        <div *ngIf="submitPhoneNumberVerificationCodeServerErrors.invalidCode" class="mt-10px">
          The code you entered is invalid. Please try again.
        </div>
        <div *ngIf="submitPhoneNumberVerificationCodeServerErrors.maxCheckAttemptsReached" class="mt-10px">
          You've checked too many codes and hit a rate limit. Please wait 10 minutes and try again.
        </div>
        <div *ngIf="submitPhoneNumberVerificationCodeServerErrors.unknownError" class="mt-10px">
          {{ submitPhoneNumberVerificationCodeServerErrors.unknownError }}
        </div>
      </div>
    </form>

    <div class="d-flex mt-15px justify-content-between">
      <div>
        <a
          *ngIf="displayForSignupFlow"
          (click)="backButtonClickedOnSubmitVerificationScreen()"
          class="button button-secondary button-small font-weight-bold fs-15px"
        >
          Back
        </a>
      </div>
      <div>
        <a
          *ngIf="displayForSignupFlow"
          (click)="onSkipButtonClicked()"
          class="button button-secondary button-small font-weight-bold fs-15px"
        >
          Skip
        </a>
        <a
          (click)="submitVerificationCode()"
          [ngClass]="{ disabled: !verificationCodeForm.valid, 'btn-loading': submittingPhoneNumberVerificationCode }"
          class="button button-primary button-small font-weight-bold fs-15px ml-10px"
        >
          Verify
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="screenToShow == SignUpGetStarterDESOComponent.COMPLETED_PHONE_NUMBER_VERIFICATION_SCREEN">
    <div class="fs-15px mb-15px">
      Your phone number was verified. We sent you a small amount of DESO, which is enough to post and follow people.
    </div>
    <ng-container *ngTemplateOutlet="continueToHost"></ng-container>
  </div>
</div>
