<app-banner *ngIf="!this.skipAppBanner"></app-banner>

<ng-template #continueToHost>
  <div class="margin-top--medium">
    <button
      data-control-name="get-starter-deso-finish-flow-button"
      (click)="finishFlow()"
      class="button--primary button--medium"
    >
      <div *ngIf="globalVars.callback; else elseBlock">Continue</div>
      <ng-template #elseBlock
      >Continue {{ !globalVars.derive ? "to " + globalVars.hostname : ""}}
      </ng-template
      >
    </button>
  </div>
</ng-template>

<div class="container" *ngIf="loading">
  <div class="google-wrapper">
    <div class="google-ball blue"></div>
    <div class="google-ball red"></div>
    <div class="google-ball yellow"></div>
    <div class="google-ball green"></div>
  </div>
</div>

<div class="page-container" *ngIf="!loading && !user">
  <div class="fs-18px margin-bottom--xsmall">
    We were unable to locate a user associated with the public key provided.
    Please exit and try again.
  </div>
  <div class="font-size--medium mb-15px ">
    Public Key provided: {{ publicKey }}
  </div>
  <ng-container *ngTemplateOutlet="continueToHost"></ng-container>
</div>
<div
  class="container"
  *ngIf="
    (globalVars.inTab || globalVars.webview || globalVars.callback || globalVars.redirectURI) &&
    !loading &&
    user &&
    user.HasPhoneNumber
  "
>
  <div class="box--border box--rounded box--large margin-bottom--base text--center">
    You have already received starter DESO for verifying your phone number.
  </div>
  <ng-container *ngTemplateOutlet="continueToHost"></ng-container>
</div>
<div
  class="container"
  *ngIf="
    (globalVars.inTab || globalVars.webview || globalVars.callback || globalVars.redirectURI) &&
    !loading &&
    user &&
    !user.HasPhoneNumber
  "
>
  <div
    *ngIf="
      screenToShow ==
      SignUpGetStarterDESOComponent.CREATE_PHONE_NUMBER_VERIFICATION_SCREEN
    "
  >
    <div class="section--phone text--center margin-bottom--large">
      <img src="assets/image-coin.svg" width="60" class="section--accounts__illustration"/>
      <h3 class="text--neutral-white">Get free $DESO</h3>
      <p class="font-size--small margin-top--small">We'll send you a small amount of $DESO that will last<br/>you up to thousands of on-chain transactions.</p>
    </div>
    <div class="section--phone__option margin-bottom--medium">
      <p class="margin-bottom--medium">
        <span class="font-weight--semibold">Verify your phone number for free $DESO.</span> Your phone number will never be shared or used for any marketing purpose. Only to prevent spam.
      </p>

      <form #f="ngForm" [formGroup]="phoneForm">
        <input
          #phoneNumberInput
          type="tel"
          class="input--phone"
          maxlength="15"
          name="phone"
          autofocus="true"
          formControlName="phone"
          (blur)="this.checkIsValidPhoneNumber()"
          (ngModelChange)="this.onPhoneNumberInputChanged()"
        />

        <div class="text--red-base font-size--medium">
          <div
            *ngIf="f.form.value.phone && f.form.controls.phone.invalid"
            class="margin-top--small font-size--small"
          >
            Please enter a valid phone number
          </div>

          <div
            *ngIf="
              sendPhoneNumberVerificationTextServerErrors.phoneNumberAlreadyInUse
            "
            class="margin-top--small font-size--small"
          >
            This phone number is being used by another account. Please use a
            different phone number or sign into your other account.
          </div>

          <div
            *ngIf="
              sendPhoneNumberVerificationTextServerErrors.maxSendAttemptsReached
            "
            class="margin-top--small font-size--small"
          >
            You've requested too many verification codes. Please wait 10 minutes
            and try again.
          </div>

          <div
            *ngIf="
              sendPhoneNumberVerificationTextServerErrors.voipNumberNotAllowed
            "
            class="margin-top--small font-size--small"
          >
            This phone number is a VOIP number, which isn't allowed (to prevent
            spam). Please try again with a different phone number.
          </div>

          <div
            *ngIf="
              sendPhoneNumberVerificationTextServerErrors.chineseNumberNotAllowed
            "
            class="margin-top--small font-size--small"
          >
            Currently we can't send text messages to China. If you have a
            non-Chinese number, please try that. If not, click "skip" below. You
            can still use the site by buying DeSo.
          </div>
          <div
            *ngIf="sendPhoneNumberVerificationTextServerErrors.unknownError"
            class="margin-top--small font-size--small"
          >
            {{ sendPhoneNumberVerificationTextServerErrors.unknownError }}
          </div>
        </div>
      </form>
    </div>

    <div class="font-size--small margin-bottom--medium">
      By proceeding, you agree to receive text messages from deso.org (standard
      rates apply)
    </div>

    <div class="width--100">
      <div>
        <button
          data-control-name="get-starter-deso-next-button"
          (click)="sendVerificationText()"
          [ngClass]="{
            disabled: !phoneForm.valid,
            'btn-loading': sendingPhoneNumberVerificationText
          }"
          class="button--primary button--medium margin-bottom--medium"
        >
          Next
        </button>
        <a
          data-control-name="get-starter-deso-cancel-button"
          class="button--link button--primary--outline button--medium"
          (click)="cancelButtonClicked()"
          *ngIf="displayForSignupFlow"
        >Cancel</a
        >
       
      </div>
    </div>
  </div>

  <div
    class="section--verify"
    *ngIf="
      screenToShow ==
      SignUpGetStarterDESOComponent.SUBMIT_PHONE_NUMBER_VERIFICATION_SCREEN
    "
  >
    <div class="text--center margin-bottom--large">
      <img src="assets/image-lock.svg" width="60" class="section--accounts__illustration"/>
      <h3 class="text--neutral-white">Confirm your authentication code</h3>
      <p class="font-size--small margin-top--small">Please verify your number by entering the 6 digit code that was sent to you.</p>
    </div>
    <div class="section--verify__option padding--large bg--neutral-white text--neutral-black">
      <div class="font-size--medium font-weight--medium margin-bottom--small">
        Enter the 6 digit code sent to {{ phoneNumber }}:
        <div
          *ngIf="
            sendPhoneNumberVerificationTextServerErrors.maxSendAttemptsReached
          "
          class="margin-top--xsmall text--red-base font-size--medium"
        >
          You've requested too many verification codes. Please wait 10 minutes and
          try again.
        </div>
      </div>
      <form
        #f="ngForm"
        [formGroup]="verificationCodeForm"
        class="padding-top--medium"
      >
        <input
          class="input--textarea"
          name="verificationCode"
          formControlName="verificationCode"
          (ngModelChange)="onVerificationCodeInputChanged()"
        />

        <div class="text--red-base font-size--xsmall">
          <div
            *ngIf="submitPhoneNumberVerificationCodeServerErrors.invalidCode"
            class="margin-top--small font-size--small"
          >
            The code you entered is invalid. Please try again.
          </div>
          <div
            *ngIf="
              submitPhoneNumberVerificationCodeServerErrors.maxCheckAttemptsReached
            "
            class="margin-top--small font-size--small"
          >
            You've checked too many codes and hit a rate limit. Please wait 10
            minutes and try again.
          </div>
          <div
            *ngIf="submitPhoneNumberVerificationCodeServerErrors.unknownError"
            class="margin-top--small font-size--small"
          >
            {{ submitPhoneNumberVerificationCodeServerErrors.unknownError }}
          </div>
        </div>
      </form>
      <div class="text--right margin-top--medium">
        <!--        Resend button will have a 60s cooldown indicated by resentVerificationCode and resentVerificationCodeTimeout -->
        <div *ngIf="!resentVerificationCode">
          <a
            data-control-name="get-starter-deso-resend-code-button"
            href=""
            class="link--secondary"
            (click)="resendVerificationCode($event)"
          >Resend</a>
        </div>
        <div *ngIf="resentVerificationCode" class="display--flex items--center justify--end">
          <div class="text--neutral-black margin-right--xsmall">
            Resend: {{ resentVerificationCodeTimeout }}s
          </div>
          <i
            class="far fa-check-circle text--blue-base"
          ></i>
        </div>
      </div>
    </div>
    <div class="margin-top--medium">
      <button
        data-control-name="get-starter-deso-confirm-code-button"
        (click)="submitVerificationCode()"
        [ngClass]="{
          disabled: !verificationCodeForm.valid,
          'btn-loading': submittingPhoneNumberVerificationCode
        }"
        class="button--primary button--medium margin-bottom--medium"
      >
        Confirm
      </button>
      <button
        data-control-name="get-starter-deso-back-button"
        *ngIf="displayForSignupFlow"
        (click)="backButtonClickedOnSubmitVerificationScreen()"
        class="button--primary--outline button--medium"
      >
        Back
      </button>
    </div>
  </div>
  <div
    *ngIf="
      screenToShow ==
      SignUpGetStarterDESOComponent.COMPLETED_PHONE_NUMBER_VERIFICATION_SCREEN
    "
    class="container"
  >
    <div class="box--border box--large box--rounded">
      Your phone number was verified. We sent you a small amount of DESO, which
      is enough to post and follow people.
    </div>
    <ng-container *ngTemplateOutlet="continueToHost"></ng-container>
  </div>
</div>
