<div class="d-flex flex-column">
  <div class="d-flex pl-2">
    <div class="d-flex justify-content-start align-items-center col-5">
      <div
        class="avatar mr-15px"
        [appAvatar]="
          daoCoinLimitOrderLimitItem?.BuyingPublicKey !== 'DESO'
            ? daoCoinLimitOrderLimitItem?.BuyingPublicKey
            : ''
        "
      ></div>
      <div class="d-block" style="display: block; max-width: 100px">
        {{
          daoCoinLimitOrderLimitItem?.BuyingPublicKey === 'DESO'
            ? '$DESO'
            : buyingUser?.ProfileEntryResponse?.Username ||
              (daoCoinLimitOrderLimitItem?.BuyingPublicKey
                | truncateAddressOrUsername)
        }}
      </div>
    </div>

    <div class="d-flex justify-content-start align-items-center col-5">
      <div
        class="avatar mr-15px"
        [appAvatar]="
          daoCoinLimitOrderLimitItem?.SellingPublicKey !== 'DESO'
            ? daoCoinLimitOrderLimitItem?.SellingPublicKey
            : ''
        "
      ></div>
      <div class="d-block" style="display: block; max-width: 100px">
        {{
          daoCoinLimitOrderLimitItem?.SellingPublicKey === 'DESO'
            ? '$DESO'
            : sellingUser?.ProfileEntryResponse?.Username ||
              (daoCoinLimitOrderLimitItem?.SellingPublicKey
                | truncateAddressOrUsername)
        }}
      </div>
    </div>
    <div class="d-flex col-2 align-items-center justify-content-center">
      <div>{{ daoCoinLimitOrderLimitItem?.OpCount }}</div>
    </div>
  </div>
</div>
