<div
  class="display--flex justify--center items--center flex--column"
  (click)="tapToUnlock()"
>
  <div
    class="display--flex justify--center padding-left--base padding-right--base padding-top--base padding-bottom--base">
    <img class="margin-top--2xlarge" width="120px" src="/assets/logo-deso.svg"/>
  </div>
  <div class="padding-left--base padding-right--base padding-top--base padding-bottom--base font-size--large"
       *ngIf="identityService.browserSupported">
    Tap anywhere to unlock your wallet.
  </div>
  <div
    class="padding-left--base padding-right--base padding-top--base padding-bottom--base text--center font-size--large"
    *ngIf="!identityService.browserSupported">
    Your browser is either in Incognito mode or it is not supported.
    <br/><br/>
    Please exit Incognito, allow third-party cookies, or use a different
    browser.
  </div>
</div>
