<div class="section--accounts" *ngIf="accountGroups.size > 0">
  <div class="section--accounts__header margin-bottom--medium">
    Select an account
  </div>

  <ng-container *ngFor="let group of accountGroups | keyvalue">
    <div *ngIf="group.value.accounts.length" class="margin-bottom--large">
      <ul
        class="section--accounts__list container--scrollbar margin-bottom--small"
      >
        <li
          *ngFor="let account of group.value.accounts"
          data-control-name="account-select-item"
        >
          <div class="display--flex items--center margin-top--small">
            <button
              class="section--accounts__item margin-right--small"
              (click)="selectAccount(account.publicKey)"
              role="button"
            >
              <div [title]="getAccountDisplayName(account)">
                <img
                  class="avatar--rounded avatar--large margin-right--xsmall"
                  [appAvatar]="account.publicKey"
                />
                {{ getAccountDisplayName(account) | truncateAddressOrUsername }}
              </div>
              <div class="display--flex items--center">
                <div class="display--flex flex--column items--end">
                  <span
                    class="font-weight--bold font-size--xsmall margin-right--small"
                    >{{
                      globalVars.nanosToDeSo(account.balanceNanos)
                    }}
                    $DESO</span
                  >
                  <span class="font-size--xsmall margin-right--small"
                    >Account: {{ account.accountNumber }}</span
                  >
                </div>
                <img
                  [src]="
                    getLoginMethodIcon(
                      accountService.getLoginMethodWithPublicKeyBase58Check(
                        group.key
                      )
                    )
                  "
                  class="section--accounts__icon"
                />
              </div>
            </button>
            <button
              class="styleless-button"
              (click)="removeAccount(account.publicKey)"
            >
              <i-feather name="power" class="text--blue-base"></i-feather>
            </button>
          </div>
        </li>
      </ul>
      <div>
        <button (click)="addSubAccount(group.key)">Add account</button>
        <button (click)="toggleRecoverSubAccountForm(group.key)">
          Recover account
        </button>
        <button>Export Seed</button>
        <form
          *ngIf="group.value.showRecoverSubAccountInput"
          (submit)="recoverSubAccount($event, group.key)"
        >
          <label for="account-number" class="display--block font-size--small"
            >Account:</label
          >
          <input
            [(ngModel)]="accountNumberToRecover"
            name="account-number"
            id="account-number"
            type="number"
            step="1"
          />
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </ng-container>
  <button>Add new account group</button>
</div>
