<div class="section--accounts" *ngIf="accountGroups.size > 0">
  <div class="section--accounts__header margin-bottom--medium">
    Select an account
  </div>

  <ng-container
    *ngFor="
      let group of accountGroups | keyvalue : keyValueSort;
      let i = index
    "
  >
    <div *ngIf="group.value.accounts.length" class="margin-bottom--large">
      <ul
        class="section--accounts__list container--scrollbar margin-bottom--small"
      >
        <li
          *ngFor="let account of group.value.accounts; let j = index"
          data-control-name="account-select-item"
        >
          <div class="display--flex items--center margin-top--small">
            <button
              class="section--accounts__item margin-right--small"
              (click)="selectAccount(account.publicKey)"
              role="button"
            >
              <div [title]="getAccountDisplayName(account)">
                <img
                  class="avatar--rounded avatar--large margin-right--xsmall"
                  [appAvatar]="account.publicKey"
                />
                {{ getAccountDisplayName(account) | truncateAddressOrUsername }}
                <span
                  *ngIf="i === 0 && j === 0"
                  class="font-size--xsmall text--green-lighter margin-left--small"
                  >Last used</span
                >
              </div>
              <div class="display--flex items--center">
                <div class="display--flex flex--column items--end">
                  <span
                    class="font-weight--bold font-size--xsmall margin-right--small"
                    >{{
                      globalVars.nanosToDeSo(account.balanceNanos)
                    }}
                    $DESO</span
                  >
                  <span class="font-size--xsmall margin-right--small"
                    >Account: {{ account.accountNumber }}</span
                  >
                </div>
                <img
                  [src]="
                    getLoginMethodIcon(
                      accountService.getLoginMethodWithPublicKeyBase58Check(
                        group.key
                      )
                    )
                  "
                  class="section--accounts__icon"
                />
              </div>
            </button>
            <button
              class="styleless-button"
              (click)="
                hideAccount(group.key, account)
              "
            >
              <i-feather name="power" class="text--blue-base"></i-feather>
            </button>
          </div>
        </li>
      </ul>
      <div>
        <div class="display--flex">
          <button
            class="button--small button--primary margin-right--small"
            style="width: auto; white-space: nowrap"
            (click)="addSubAccount(group.key)"
          >
            Add account
          </button>
          <button
            class="button--small button--secondary"
            style="width: auto; white-space: nowrap"
            (click)="toggleRecoverSubAccountForm(group.key)"
          >
            Recover account
          </button>
          <button
            class="button--small button--red"
            style="width: auto; white-space: nowrap; margin-left: auto"
          >
            Export Seed
          </button>
        </div>
        <form
          *ngIf="group.value.showRecoverSubAccountInput"
          (submit)="recoverSubAccount($event, group.key)"
          class="margin-top--small margin-left--small"
        >
          <label for="account-number" class="display--block font-size--small"
            >Account:</label
          >
          <input
            [(ngModel)]="accountNumberToRecover"
            name="account-number"
            id="account-number"
            type="number"
            step="1"
          />
          <button
            type="submit"
            class="button--primary button--small margin-left--small"
            style="width: auto; white-space: nowrap"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </ng-container>
</div>
