<app-banner></app-banner>

<div
  class="container"
  *ngIf="globalVars.inTab || globalVars.webview || globalVars.callback || globalVars.redirectURI"
>
  <!-- Step 3 -->
  <!-- Get Starter $DESO. -->
  <div *ngIf="stepScreen === GetDesoComponent.STEP_GET_STARTER_DESO">
    <div class="section--starter text--center margin-bottom--large">
      <img src="assets/image-coin.svg" width="60" class="section--accounts__illustration"/>
      <h3 class="text--neutral-white">Get starter $DESO</h3>
    </div>
    <div class="padding-bottom--2xlarge text--center">
      <div class="section--starter__option">
        <div class="font-size--small margin-bottom--medium">
          <h6 class="margin-bottom--small text--text-lightest font-weight--medium">
            Complete a captcha to get free $DESO
          </h6>
          <p>Prove you're not a robot 🤖 and we'll<br/>send you a small amount of $DESO that will last<br/>you up to thousands of on-chain transactions.</p>
        </div>
        <ng-hcaptcha (verify)="onCaptchaVerify($event)"
                     (expired)="onCaptchaExpired($event)"
                     (error)="onCaptchaError($event)">
        </ng-hcaptcha>
      </div>
      <button
        *ngIf="this.globalVars.showSkip"
        (click)="finishFlow()"
        class="margin-top--large button--primary--outline button--medium"
        data-control-name="skip-get-deso-button"
      >
        Skip this step...
      </button>
    </div>
  </div>
</div>
