<app-banner></app-banner>

<div class="container home-container">
  <div *ngIf="showLoadAccount" class="mb-30px">
    <div class="fs-24px font-weight-bold">
      Load your account
    </div>

    <div class="fs-18px mt-15px">
      Enter your secret phrase to load your account
    </div>

    <div *ngIf="loginError" class="alert alert-danger mt-15px">
      {{ loginError }}
    </div>

    <div class="form-group pr-15px mt-15px">
      <textarea [(ngModel)]="mnemonic"
                class="form-control fs-15px"
                rows="4"
                placeholder="Enter your secret phrase here."></textarea>
    </div>

    <div *ngIf="advancedOpen" class="fs-15px">
      If you have a passphrase, enter it below.
    </div>
    <div *ngIf="advancedOpen" class="form-group pr-15px pt-15px">
      <textarea [(ngModel)]="extraText"
                class="form-control fs-15px"
                rows="4"
                placeholder="Enter your passphrase here."></textarea>
    </div>

    <div class="w-100 d-flex justify-content-between pr-15px">
      <div *ngIf="!advancedOpen"
           (click)="advancedOpen = true"
           class="fc-blue fs-15px cursor-pointer font-weight-bold">Advanced</div>
      <div *ngIf="advancedOpen"
           (click)="advancedOpen = false"
           class="fc-blue fs-15px cursor-pointer font-weight-bold">Simple</div>
      <button (click)="clickLoadAccount()"
              class="btn btn-primary font-weight-bold fs-15px">
        Load Account
      </button>
    </div>
  </div>

  <div *ngIf="!showLoadAccount">
    <div class="fs-24px font-weight-bold">
      Log in to {{ globalVars.hostname }}
    </div>

    <div class="fs-18px mt-25px">
      Select an account
    </div>

    <ul class="list-group mt-15px">
      <li *ngFor="let item of allUsers | keyvalue" class="list-group-item list-group-item-action cursor-pointer" (click)="selectAccount(item.key)" [ngClass]="{active: selectedAccount === item.key}">
        <div class="w-100">
          <div *ngIf="!item.value.username" class="text-truncate">{{ item.key }}</div>
          <div *ngIf="item.value.username" class="d-flex align-items-center">
            <div class="avatar mr-15px" [style.background-image]="'url(' + item.value.profilePic + ')'"></div>
            <div class="text-truncate">{{ item.value.username }}</div>
          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-action cursor-pointer"
         (click)="showLoadAccount = true">Load another account</li>
    </ul>

    <div *ngIf="showAccessLevels">
      <div class="fs-18px mt-30px">
        <b>{{ globalVars.hostname }}</b> is requesting:
      </div>

      <ul class="list-group list-group-flush mt-15px">
        <li class="list-group-item">
          <span *ngIf="globalVars.accessLevelRequest >= 2">✅</span>
          <span *ngIf="globalVars.accessLevelRequest < 2">❌</span>
          Require approval for all transactions
        </li>
        <li class="list-group-item">
          <span *ngIf="globalVars.accessLevelRequest >= 3">✅</span>
          <span *ngIf="globalVars.accessLevelRequest < 3">❌</span>
          Only require approval to move money
        </li>
        <li class="list-group-item">
          <span *ngIf="globalVars.accessLevelRequest === 4">✅</span>
          <span *ngIf="globalVars.accessLevelRequest < 4">❌</span>
          Full signing access
        </li>
      </ul>
    </div>

    <div class="d-flex justify-content-end mt-15px">
      <button (click)="clickLogin()"
              class="btn btn-primary font-weight-bold fs-15px"
              [disabled]="!canLogin">
        Log in to {{ globalVars.hostname }}
      </button>
    </div>
  </div>
</div>
