<app-banner></app-banner>

<div class="container home-container text-center" *ngIf="globalVars.inTab || globalVars.webview">
  <div class="mb-20px">
    <span class="title-text">Log in to {{ globalVars.hostname }}</span>
    <div class="main-text">
      Sign up with a new Google account<br/>or DeSo seed phrase!
    </div>
  </div>

  <div class="d-flex flex-column" *ngIf="hasUsers">
    <ul class="list-group mt-7px mb-30px saved-seeds-list">
      <span class="saved-seeds-header d-flex align-items-center"><span>Select an account</span></span>
      <div class="saved-seeds-scroll">
        <li *ngFor="let item of allUsers | keyvalue" class="list-group-item list-group-item-action cursor-pointer saved-seed" (click)="selectAccount(item.key)">
          <div class="w-100">
            <div *ngIf="!item.value.username" class="text-truncate">{{ item.key }}&hellip;</div>
            <div *ngIf="item.value.username" class="d-flex align-items-center">
              <div class="avatar mr-15px" [appAvatar]="item.key"></div>
              <div class="text-truncate">{{ item.value.username }}</div>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
  <div class="d-flex align-items-center flex-column">
    <button class="button button-large button-primary mb-20px" (click)="launchGoogle()" *ngIf="!globalVars.hideGoogle">
      <img src="assets/google_logo.svg" height="32px" width="32px" class="mr-10px"/>
      <span class="font-weight-bold">Sign up / log in with Google</span>
    </button>
    <button class="button button-large button-secondary mb-40px" [routerLink]="['/sign-up']">
      <span class="font-weight-normal">Sign up with DeSo seed</span>
    </button>
    <a class="link" [routerLink]="['/load-seed']"><u>Log in with DeSo seed</u></a>
  </div>

  <div *ngIf="showAccessLevels">
    <div class="fs-18px mt-30px">
      Logging in grants <b>{{ globalVars.hostname }}</b> access to:
    </div>

    <ul class="list-group list-group-flush mt-15px">
      <li class="list-group-item">
        <span *ngIf="globalVars.accessLevelRequest >= 2">✅</span>
        <span *ngIf="globalVars.accessLevelRequest < 2">❌</span>
        My basic information
        <div class="fs-14px text-muted"><b>{{ globalVars.hostname }}</b> can access my public key and any other public information</div>
      </li>
      <li class="list-group-item">
        <span *ngIf="globalVars.accessLevelRequest >= 3">✅</span>
        <span *ngIf="globalVars.accessLevelRequest < 3">❌</span>
        Post, message, like, and follow on my behalf
        <div class="fs-14px text-muted" *ngIf="globalVars.accessLevelRequest < 3"><b>{{ globalVars.hostname }}</b> will require approval to post, message, like, and follow</div>
        <div class="fs-14px text-muted" *ngIf="globalVars.accessLevelRequest >= 3"><b>{{ globalVars.hostname }}</b> may post, message, like, and follow without requiring approval</div>
      </li>
      <li class="list-group-item">
        <span *ngIf="globalVars.accessLevelRequest === 4">✅</span>
        <span *ngIf="globalVars.accessLevelRequest < 4">❌</span>
        Buy, sell, and send coins on my behalf
        <div class="fs-14px text-muted" *ngIf="globalVars.accessLevelRequest < 4"><b>{{ globalVars.hostname }}</b> will require approval to buy, sell, or send coins</div>
        <div class="fs-14px text-muted" *ngIf="globalVars.accessLevelRequest === 4"><b>{{ globalVars.hostname }}</b> may buy, sell, and send coins without requiring approval</div>
      </li>
    </ul>
  </div>
</div>
