<app-banner></app-banner>

<div class="container home-container">
  <div class="fs-24px font-weight-bold">
    {{ globalVars.environment.nodeHostname }}
  </div>

  <div class="fs-18px pt-15px">
    Grant <b>{{ globalVars.environment.nodeHostname }}</b> full signing privileges for these accounts:
  </div>

  <ul class="list-group pt-15px">
    <li *ngFor="let item of importUsers | keyvalue" class="list-group-item">
      <span *ngIf="!item.value.username">{{ item.key }}</span>
      <div *ngIf="item.value.username" class="d-flex align-items-center">
        <div class="avatar mr-15px" [style.background-image]="'url(' + item.value.profilePic + ')'"></div>
        <div>{{ item.value.username }}</div>
      </div>
    </li>
  </ul>

  <div class="w-100 d-flex justify-content-between pt-15px">
    <button (click)="deny()"
            class="btn font-weight-bold fs-15px">
      Deny
    </button>
    <button (click)="allow()"
            class="btn btn-primary font-weight-bold fs-15px">
      Allow
    </button>
  </div>
</div>
