<div class="d-flex flex-column border br-12px border-primary p-1">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-start align-items-center py-10px col-12">
      {{ getOperationString() }}{{ !isScoped() ? ' any of' : '' }}
      {{
        appUser?.ProfileEntryResponse?.Username || accessGroupMemberLimitMapItem?.AccessGroupOwnerPublicKeyBase58Check ?
        (appUser?.ProfileEntryResponse?.Username || accessGroupMemberLimitMapItem?.AccessGroupOwnerPublicKeyBase58Check | truncateAddressOrUsername) + "'s"
        : 'your'
      }}
      access group{{ isScoped() ? ' "' + accessGroupMemberLimitMapItem?.AccessGroupKeyName + '"' : 's' }}
      ({{ globalVars.formatTxCountLimit(accessGroupMemberLimitMapItem?.OpCount) }} times).
    </div>
  </div>
</div>
