<div class="d-flex flex-column border br-12px border-primary p-1">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-start align-items-center py-10px col-12">
      {{ getOperationString() }} members of
      {{ accessGroupLimitMapItem?.OpCount }}
      {{ (appUser?.ProfileEntryResponse?.Username || accessGroupLimitMapItem?.GroupOwnerPublicKeyBase58Check | truncateAddressOrUsername)}}
      's access group{{ isScoped() ? ' "' + accessGroupLimitMapItem.GroupKeyName + '"' : 's' }}.
    </div>
  </div>
</div>
