<app-banner></app-banner>

<div class="container">
  <div class="title-text">Log out of {{ globalVars.hostname }}</div>
  <div class="main-text">
    <p class="padding-bottom--medium">
      Logging out revokes any permissions you've granted on
      {{ globalVars.hostname }}.
    </p>
    <p class="padding-bottom--medium">
      Your account will stay logged in on {{ globalVars.environment.hostname }}.
    </p>
    <div
      class="display--flex justify--center">
      <div class="display--flex width--50 items--center">
        <button
          type="button"
          class="button--primary button--medium margin-right--xlarge"
          (click)="onSubmit()"
          data-control-name="logout-button"
        >
          Logout
        </button>
        <a
          class="font-size--medium button--link cursor-pointer"
          (click)="onCancel()"
          data-control-name="cancel-logout-button"
        >Cancel</a>
      </div>
    </div>
  </div>
</div>
