//-------------------------------
// COLOR VARIABLES
//-------------------------------

$primary: #0059f7;
$danger: #e63946;
$secondary: #ecf0f1;
$success: #32ed4b;
$info: #689eff;

$feed-border-radius: 12px;
$border-grey: #dbdded;
$staking-grey: #f0f0f0;
$light-grey-for-divider: #f8f8f8;
$light-grey-for-divider-2: #fafafa;
$blue: #007bff;
$light-blue: #e5f2ff;
$input-background: #f7f7fc;

$light-font-color: #8d8f8f;
$normal-font-color: #626480;
$title-font-color: #0e0e23;
$banner-font-color: #292941;
$red-font-color: #ff3434;
$green-font-color: #19b028;

$text: #000000;
$text-secondary: #545656;
$text-muted: #999999;
$landing-page-fc: #888;
$landing-page-dark: #1b1c1e;
$tile-bg: #ffffff;
$tile-secondary-bg: #f4f6f6;
$border: #dddddd;
$highlight: #005bff;
$highlight-secondary: #e5f2ff;
$success: #2cc99a;
$error: #ff6939;

//-------------------------------
// FONTS
//-------------------------------
$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@font-face {
  font-family: 'color-emoji';
  src: local('Apple Color Emoji'), local('Segoe UI Emoji'),
    local('Segoe UI Symbol'), local('Noto Color Emoji');
}

.font-emoji {
  font-family: 'color-emoji';
}

//-------------------------------
// COLORS
//-------------------------------
$colors: (
  "neutral": (
    "white": #FFF,
    "black": #000,
  ),
  "blue": (
    "lighter": lighten(#1d40b0, 40%),
    "light": lighten(#1d40b0, 20%),
    "base": #1d40b0,
    "dark": darken(#1d40b0, 20%),
    "darker": darken(#1d40b0, 40%),
  ),
  "red": (
    "lighter": #faa7a1,
    "light": #e84a49,
    "base": #c03230,
    "dark": #8a1c1b,
    "darker": #460a09,
  ),
  "yellow": (
    "lighter": #ffffe0,
    "light": #ffff00,
    "base": #ffd700,
    "dark": #ff8c00,
    "darker": #ff4500,
  ),
  "green": (
    "lighter": #90ee90,
    "light": #32cd32,
    "base": #008000,
    "dark": #006400,
    "darker": #004f00,
  ),
);

@mixin color($color, $tone: 'base', $property: 'color') {
  $color-map: map-get($colors, $color);
  @if $color-map {
    $tone-value: map-get($color-map, $tone);
    @if $tone-value {
      #{$property}: $tone-value;
    } @else {
      @warn "No tone '#{$tone}' found in color map for '#{$color}'";
    }
  } @else {
    @warn "No color '#{$color}' found in colors map.";
  }
}

@each $color, $tones in $colors {
  @each $tone, $value in $tones {
    .bg--#{$color}-#{$tone} {
      background-color: $value;
    }
    .text--#{$color}-#{$tone} {
      color: $value;
    }
  }
}

//-------------------------------
// SPACING UNITS
//-------------------------------
$spacing-units: (
  "none": 0px,
  "xsmall": 4px, 
  "small": 8px,
  "medium": 16px,
  "large": 32px,
  "xlarge": 64px,
  "2xlarge": 128px,
  "3xlarge": 256px,
  "4xlarge": 512px
);

$directions: (
  "padding": ( "left", "right", "top", "bottom" ),
  "margin": ( "left", "right", "top", "bottom" )
);

@mixin spacing($property, $values...) {
  $result: ();
  @each $value in $values {
    $result: append($result, map-get($spacing-units, $value), space);
  }
  #{$property}: $result;
}

@each $space, $directions in $directions {
  @each $dir in $directions {
    @each $size, $value in $spacing-units {
      .#{$space}-#{$dir}--#{$size} {
        #{if($dir == 'all', $space, $space + '-' + $dir)}: $value;
      }
    }
  }
}

//-------------------------------
// HTML & BODY
//-------------------------------
html,
body {
  font-family: $font-primary;
  height: 100%;
  width: 100%;
  color: #93c5fd99;
  background-color: #040609;
  background-image: linear-gradient(0deg,#040609,#040609 10%,#050e1d 90%,#050e1d);
}

//-------------------------------
// TYPOGRAPHY
//-------------------------------
h1,
h2,
h3,
h4,
h5,
h6,
p {
  @include spacing('margin', 'none');
  font-weight: normal;
}

//-------------------------------
// BUTTONS = Variant (Styles)
//-------------------------------
%button {
  border: 0;
  border-radius: 100px;
  width: 100%;
}

.button--primary {
  @extend %button;
  @include color('blue', 'base', 'background-color');
  @include color('neutral', 'white', 'color');
  &:hover {
    @include color('blue', 'dark', 'background-color');
  }
}

//-------------------------------
// BUTTONS = Sizes (Styles)
//-------------------------------
.button--medium {
  @include spacing('padding', 'medium'); 
}

//-------------------------------
// UTILITY = Cursors
//-------------------------------
.cursor-pointer {
  cursor: pointer;
}

.cursor-auto {
  cursor: auto;
}

.cursor-inherit {
  cursor: inherit;
}

//-------------------------------
// UTILITY = Font Colors
//-------------------------------
.fc-title {
  color: $title-font-color;
}
.fc-secondary {
  color: $text-secondary;
}
.fc-default {
  color: $normal-font-color;
}
.fc-muted {
  color: $light-font-color;
}
.fc-info {
  color: $info;
}
.fc-blue {
  color: $blue;
}
.fc-light-blue {
  color: $highlight-secondary;
}
.fc-red {
  color: $red-font-color;
}
.fc-green {
  color: $green-font-color;
}
.fc-success {
  color: $success;
}
.fc-error {
  color: $error;
}
.fc-landing-page {
  color: $landing-page-fc;
}
.fc-landing-page-title {
  color: $landing-page-dark;
}
.fc-none {
  color: rgba(0, 0, 0, 0);
}

.fs-0px {
  font-size: 0 !important;
}
.fs-1 {
  font-size: 2.5rem;
}
.fs-2 {
  font-size: 2rem;
}
.fs-3 {
  font-size: 1.75rem;
}

.fs-underline {
  text-decoration: underline;
}

.fs-underline-hover {
  &:hover {
    text-decoration: underline;
  }
}

.fs-30px {
  font-size: 30px;
}
.fs-32px {
  font-size: 32px;
}
.fs-26px {
  font-size: 26px;
}
.fs-25px {
  font-size: 25px;
}
.fs-24px {
  font-size: 24px;
}
.fs-20px {
  font-size: 20px;
}
.fs-18px {
  font-size: 18px;
}
.fs-17px {
  font-size: 17px;
}
.fs-16px {
  font-size: 16px;
}
.fs-15px {
  font-size: 15px;
}
.fs-15px-important {
  font-size: 15px !important;
}
.fs-14px {
  font-size: 14px;
}
.fs-13px {
  font-size: 13px;
}
.fs-12px {
  font-size: 12px !important;
}
// line heights
.lh-24px {
  line-height: 24px;
}
.lh-18px {
  line-height: 18px;
}
.lh-16px {
  line-height: 16px;
}
.lh-15px {
  line-height: 15px;
}
.lh-14px {
  line-height: 14px;
}
.lh-13px {
  line-height: 13px;
}
.lh-12px {
  line-height: 12px;
}
.roboto-regular {
  font-family: 'Roboto';
}
.roboto-mono {
  font-family: 'Roboto Mono';
}
.font-weight-semibold {
  font-weight: 500;
}

// Custom border classes.
.border-color-grey {
  border-color: $border-grey;
}
.border-color-blue {
  border-color: $blue;
}
.tab-underline-active {
  border-bottom: solid $blue 3px;
}
.tab-underline-inactive {
  border-bottom: solid rgba(0, 0, 0, 0) 3px;
}

.background-color-grey {
  background-color: #f5f5f5;
} // mocks call this G4
.background-color-light-grey {
  background-color: $light-grey-for-divider;
}
.background-color-light-pink {
  background-color: lightpink;
}


.br-3px {
  border-radius: 3px;
}
.br-12px {
  border-radius: $feed-border-radius;
}

// Text align
.txtalj {
  text-align: justify;
}

.txtals {
  text-align: start;
}

// custom float classes
.floatl {
  float: left;
}
.floatr {
  float: right;
}

.vh-100 {
  height: 100vh !important;
}

.position-fixed {
  position: fixed;
}
.background-color-white {
  background-color: white;
}

i-feather[name='check-circle'] {
  svg {
    display: none;
  }
  background-image: url('/assets/img/verified-badge.svg');
  background-size: contain;
  position: relative;
  top: 3px;
}

.feather-xsmall {
  height: 14px !important;
  width: 14px !important;
}

.feather-small {
  height: 16px !important;
  width: 16px !important;
}

.feather-medium {
  height: 20px !important;
  width: 20px !important;
}

.feather-large {
  height: 24px !important;
  width: 24px !important;
}

.feather-xlarge {
  height: 34px !important;
  width: 34px !important;
}

.feather-xxlarge {
  height: 90px !important;
  width: 90px !important;
}

.home-container {
  max-width: 515px;
  padding-bottom: 50px;
}

.page-container {
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px 50px 10px;
}

.home-logo {
  height: 35px;
}

.identity-banner {
  background-color: white;
  padding: 20px;
  height: 92px;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid $border-grey;
  margin-bottom: 60px;
  @media (max-width: 445px) {
    margin-bottom: 40px;
  }
}

.full-screen {
  height: 100%;
  width: 100%;
}

.avatar {
  height: 35px;
  width: 35px;
  border-radius: 3px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sign-up-btn {
  height: 36px;
}

.log-in-google,
.log-in-seed,
.sign-up-google,
.sign-up-seed {
  height: 72px;
  width: 290px;
  background-size: 290px 72px;
}

.log-in-google {
  background-image: url(/assets/log_in_google.png);
}

.log-in-seed {
  background-image: url(/assets/log_in_seed.png);
}

.sign-up-google {
  background-image: url(/assets/sign_up_google.png);
}

.sign-up-seed {
  background-image: url(/assets/sign_up_seed.png);
}

.onboarding-buy-deso-container {
  background: #ffffff;
  border-radius: 6px;
  padding-top: 16px;
}

.onboarding-info-bar-circle {
  width: 40px;
  height: 40px;
  border: 3px solid $blue;
  border-radius: 100%;
  font-size: 18px;
}

.google-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.google-ball {
  width: 22px;
  height: 22px;
  border-radius: 11px;
  margin: 0 10px;

  animation: 2s bounce ease infinite;
}

.google-ball.blue {
  background-color: #4285f5;
}

.google-ball.red {
  background-color: #ea4436;
  animation-delay: 0.25s;
}

.google-ball.yellow {
  background-color: #fbbd06;
  animation-delay: 0.5s;
}

.google-ball.green {
  background-color: #34a952;
  animation-delay: 0.75s;
}

.title-text {
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  color: $title-font-color;
}

.title-text-small {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: $title-font-color;
}

.main-text {
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  margin-top: 13px;
  color: $normal-font-color;
}

.subtitle-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 13px;
  color: $normal-font-color;
}

.warning-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 13px;
  color: $red-font-color;
}

.button {
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.button-primary {
  background: $blue;
  color: white;
  border: none;
}

.button-primary-disabled {
  background: $light-blue;
  color: white;
  border: none;
}

.button-secondary {
  background: white;
  color: $blue;
  border: 1px solid $blue;
}

.button-large {
  height: 78px;
  width: 100%;
}

.button-small {
  height: 62px;
  width: 140px;
}

// Styled buttons
.styled-primary-button {
  --highlight: #005bff;
  --highlight-secondary: #e5f2ff;

  width: 137px;
  height: 48px;
  background: var(--highlight);
  border-radius: 6px;
  color: white;
  border: none;
  &:hover {
    color: white;
  }
  &.disabled-button {
    background: var(--highlight-secondary);
  }
}

.styled-secondary-button {
  --highlight: #005bff;
  --highlight-secondary: #e5f2ff;

  width: 137px;
  height: 48px;
  background: none;
  border-radius: 6px;
  color: var(--highlight);
  border: 1px solid var(--highlight);
  &:hover {
    color: var(--highlight);
  }
  &.disabled-button {
    background: var(--highlight-secondary);
  }
}

.link {
  color: $blue;
  font-size: 20px;
  line-height: 22px;
  font-weight: normal;
  cursor: pointer;
}

.banner-margin {
  margin: 0px 20px;
  @media (max-width: 600px) {
    margin: 0px;
  }
}

.verify-site-banner {
  @media (max-width: 600px) {
    flex-flow: column;
    font-size: 15px;
  }
}

.seed-actions-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 445px) {
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    .toggle-advanced {
      margin-top: 12px;
    }
  }
}

.seed-phrase-container {
  background: $input-background;
  color: $normal-font-color;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  border: 1px solid $border-grey;
  margin-bottom: 24px;
  margin-top: 40px;
}

.seed-phrase-button {
  border: none;
  padding: 9px 15px;
  opacity: 0.7;
  border-radius: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 25px;
  color: $banner-font-color;
  font-weight: 500;
}

.text-input-container {
  background: $input-background;
  color: $normal-font-color;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  border: 1px solid $border-grey;
  padding: 0px 8px;
  margin-bottom: 24px;
}

.text-input {
  padding: 10px;
  width: 100%;
  height: 170px;
  border: none;
  background: none;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.text-input-container-light {
  width: 100%;
  background: white;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
  color: $normal-font-color;
  border: 1px solid $border-grey;
  border-radius: 16px;
  box-shadow: 0px 2px 10px rgba(20, 20, 43, 0.05);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.step-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 445px) {
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    .step-title {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.step-title {
  color: $light-font-color;
  font-weight: bold;
  font-size: 18px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.saved-seeds-header {
  height: 60px;
  min-height: 60px;
  padding-left: 28px;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  border-bottom: 1px solid $border-grey;
  color: $title-font-color;
}

.saved-seeds-list {
  border: 1px solid $border-grey;
  border-bottom: none;
  border-radius: 17px;
  li:last-of-type {
    border-bottom: none;
  }
}

.saved-seeds-scroll {
  max-height: 300px;
  overflow-y: scroll;
  border-radius: 0px 0px 17px 17px;
  border-bottom: 1px solid $border-grey;
}

.saved-seed {
  border-left: none;
  border-right: none;
  border-top: none;
  height: 66px;
  min-height: 66px;
  display: flex;
  align-items: center;
}

@keyframes bounce {
  50% {
    transform: translateY(25px);
  }
}

.btn-loading {
  position: relative;
  color: rgba(0, 0, 0, 0) !important;
  pointer-events: none;
  cursor: default;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 40%, auto;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSIjZjBmMGYwIj4KICA8cGF0aCBvcGFjaXR5PSIuMjUiIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMCAxNiAzMiBBMTYgMTYgMCAwIDAgMTYgMCBNMTYgNCBBMTIgMTIgMCAwIDEgMTYgMjggQTEyIDEyIDAgMCAxIDE2IDQiLz4KICA8cGF0aCBkPSJNMTYgMCBBMTYgMTYgMCAwIDEgMzIgMTYgTDI4IDE2IEExMiAxMiAwIDAgMCAxNiA0eiI+CiAgICA8YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgZnJvbT0iMCAxNiAxNiIgdG89IjM2MCAxNiAxNiIgZHVyPSIwLjhzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgLz4KICA8L3BhdGg+Cjwvc3ZnPgo=');
  opacity: 0.4;
}

.global__tooltip-icon {
  cursor: pointer;
}

.global__mat-tooltip {
  cursor: pointer;
  background-color: #343a40 !important;
  white-space: pre-line;
}

.global__mat-tooltip-font-size {
  font-size: 15px !important;
}

.transaction-spending-limit-separator {
  border-bottom: #aaaaaa solid 1px;
}

// ####################################
//  Buy DeSo style
// ####################################

.buy-deso__container {
  background: $tile-bg;
  border-radius: 6px;
  padding-top: 16px;
}

.buy-deso__title {
  color: $text;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
}

.buy-deso__input {
  padding: 12px;
  height: 48px;
  background: $tile-secondary-bg;
  border: 1px solid $border;
  border-radius: 6px;
  font-size: 15px;
  color: $text-secondary;
  width: 100%;
}

.buy-deso__sub-title {
  color: $text-muted;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 12px;
  margin: 16px 0px 8px 0px;
}

.buy-deso__dropdown-btn {
  border: 1px solid $border;
  border-radius: 6px 0px 0px 6px;
  background: $tile-secondary-bg;
  width: 96px;
  height: 48px;
  padding: 12px;
  color: $text-secondary;
  font-size: 15px;
}

.buy-deso__floating-span {
  position: absolute;
  top: 12px;
  right: 32px;
}

.buy-deso__sub-text {
  font-size: 15px;
  color: $text-secondary;
}

.buy-deso__country-selector {
  background: $tile-secondary-bg;
  border: 1px solid $border;
  border-radius: 6px;
  color: $text-secondary;
  font-size: 15px;
  height: 48px;
  padding: 12px;
  width: 105px;
}

.buy-deso__country-selector {
  border: 1px solid $border;
  border-radius: 6px;
  background: $tile-secondary-bg;
  width: 105px;
  height: 48px;
  padding: 12px;
  color: $text-secondary;
  font-size: 15px;
}

.buy-deso__country-dropdown {
  max-height: 28vh;
  overflow-y: scroll;
  right: -110px !important;
}

.global__mobile-scrollable-section {
  padding-left: 10px;
  flex-grow: 1;
  overflow-y: scroll;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.creator-profile__ellipsis-restriction {
  max-width: 150px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.light-button {
  width: 137px;
  height: 48px;
  background: $tile-bg;
  border: 1px solid $border;
  border-radius: 6px;
  color: $text;
  font-weight: 600;
  &:hover {
    color: $text;
  }
  &.disabled-button {
    background: $tile-bg;
  }
}

.text-greyC {
  color: #a0a3bd;
}

.primary-button {
  width: 137px;
  height: 48px;
  background: $highlight;
  border-radius: 6px;
  color: $tile-bg;
  border: none;
}

.feed-post__dropdown-menu-item {
  color: $text-muted;
  padding: 10px;
  padding-bottom: 0;
  font-size: 14px !important;
  &:last-of-type {
    padding-bottom: 10px;
  }
  &:hover {
    color: $text;
  }
  i-feather {
    height: 14px;
    width: 14px;
  }
}

.bc-dropdown-menu div {
  margin: 6px;
}

.bc-dropdown-menu {
  background: $tile-bg;
  border-radius: 6px;
  border: none;
  box-shadow: 6px 6px 0px $text;
  border: 1px solid $text;
  div {
    margin: 6px;
  }
}

bs-dropdown-container {
  z-index: 3000 !important;
}

.flx-center {
  display: flex;
  justify-content: center;
}

.txt-center {
  text-align: center;
}

.walletconnect-qrcode__image, .walletconnect-qrcode__text, .walletconnect-modal__footer {
  display: none !important;
}

.walletconnect-modal__single_wallet {
  margin-top: 18px !important;
  margin-bottom: 18px !important;
}

.fs-7 {
  font-size: 0.7rem;
}

.fs-8 {
  font-size: 0.8rem;
}
