<app-banner></app-banner>
<div class="container home-container">
  <div class="font-size--large font-weight-bold pt-15px">Jumio Verification Failed</div>
  <div class="display--flex items--center">
    <div class="font-size--medium margin-top--medium">
      We were unable to verify your identity. You can click close to proceed to
      {{ hostname }}
    </div>
  </div>
  <div class="display--flex pt-15px justify-content-between">
    <button
      (click)="finishFlow()"
      class="btn-outline-primary font-weight-bold font-size--medium sign-up-btn"
    >
      Continue to {{ globalVars.hostname }}
    </button>
  </div>
</div>
