<div class="display--flex flex--column">
  <div class="display--flex">
    <div class="display--flex w-50 text--text-lightest items--center">
      <ng-container *ngIf="loaded">
        <app-arrow-toggle (click)="expandNFT = !expandNFT" class="margin-right--small"></app-arrow-toggle>
      </ng-container>
      <ng-container *ngIf="post">
        <!-- Media -->
        <div
          *ngIf="
            loaded &&
            !!(post?.ImageURLs?.length || post?.VideoURLs?.length)
          "
          class="display--flex position-relative justify--start items--center margin-top--xsmall margin-bottom--xsmall padding-right--small"
          style="overflow: hidden; max-height: 100px; max-width: 100px"
        >
          <img
            style="max-width: 100%; max-height: 100%"
            class="br-12px"
            *ngIf="post?.ImageURLs?.length"
            [src]="(post.ImageURLs || [''])[0]"
          />

          <!-- TODO: how to sanitize all of this stuff.... -->
          <iframe
            [src]="(post.VideoURLs || [''])[0] | sanitizeVideoUrl"
            *ngIf="!post?.ImageURLs?.length && post?.VideoURLs?.length"
            class="br-12px"
            allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
            style="width: 100%; max-height: 100%"
          ></iframe>
        </div>
        <div class="display--flex flex--column" *ngIf="loaded">
          <div class="display--flex justify--start items--center padding-top--medium padding-bottom--medium">
            <img
              class="avatar--rounded avatar--medium margin-right--small"
              [appAvatar]="post.PosterPublicKeyBase58Check"
              *ngIf="post"
            />
            <div>
              {{
              post
              ? post.ProfileEntryResponse?.Username ||
              post.PosterPublicKeyBase58Check
              : 'All NFTs:'
              }}
            </div>
          </div>
          <!--TODO: Truncate post body -->
          <div
            class="display--flex justify--start font-size--small padding-bottom--small"
            *ngIf="post?.Body"
            [innerHTML]="post.Body || '' | sanitizePostBody"
          ></div>
        </div>
      </ng-container>
      <ng-container *ngIf="!post">
        <div *ngIf="nftPostHashHex === ''">All NFTs</div>
        <div *ngIf="nftPostHashHex !== ''">NFT Post not found</div>
      </ng-container>
    </div>
    <div
      class="display--flex font-size--small w--50 justify--end"
      style="margin-left: auto"
    >
      <div class="text--text-lightest">
        {{ getOperationsString(nftSerialNumToOperationMap) }}
      </div>
    </div>
  </div>

  <ng-container *ngIf="expandNFT">
    <div
      class="display--flex flex--column margin--medium"
      *ngFor="
        let serialNumToOpMap of nftSerialNumToOperationMap
          | keyvalue
          | slice
            : 0
            : (showAll
                ? globalVars.ObjectKeyLength(nftSerialNumToOperationMap)
                : defaultNumShown);
        let ii = index
      "
    >
      <div class="text--left margin-top--small margin-bottom--small">
        {{
        serialNumToOpMap.key === '0'
        ? 'All Serial Numbers'
        : '#' + serialNumToOpMap.key
        }}
      </div>
      <div class="margin-bottom--medium">
        <div class="display--flex justify--between margin-bottom--small"
             *ngFor="
          let opLimit of serialNumToOpMap.value | keyvalue;
          let ii = index
          "
        >
          <div>Operation Type</div>
          <code>
            {{ globalVars.cleanSpendingLimitOperationName(opLimit.key) }}
          </code>
        </div>
        <div
          class="display--flex justify--between margin-bottom--small"
          *ngFor="
            let opLimit of serialNumToOpMap.value | keyvalue;
            let ii = index
          "
        >
          <div>Operation Limit</div>
          <code>{{ globalVars.formatTxCountLimit(opLimit.value) }}</code>
        </div>
      </div>
    </div>

    <button
      *ngIf="
        globalVars.ObjectKeyLength(nftSerialNumToOperationMap) > defaultNumShown
      "
      class="button--secondary button--medium display--flex justify--center margin-right--medium margin-left--medium"
      style="align-self: center;"
      (click)="showAll = !showAll; expandNFT = showAll"
    >
      {{ showAll ? 'Hide' : 'Show all' }}
      {{ globalVars.ObjectKeyLength(nftSerialNumToOperationMap) }} serial
      numbers
    </button>
  </ng-container>
</div>
