<div class="d-flex align-items-center flex-column">
  <button
    data-control-name="log-in-cta"
    data-control-login-option="metamask"
    class="button--primary button--medium margin-bottom--medium"
    (click)="navigateToMetamaskSignup()"
    queryParamsHandling="merge"
    *ngIf="globalVars.showMetamask()"
  >
    <img src="assets/metamask.png" height="32px" width="32px" class="mr-10px" />

    Sign up / log in with MetaMask
  </button>
  <button
    data-control-name="log-in-cta"
    data-control-login-option="google"
    class="button--primary button--medium margin-bottom--medium"
    (click)="launchGoogle()"
    *ngIf="!globalVars.hideGoogle"
  >
    <img
      src="assets/google_logo.svg"
      height="32px"
      width="32px"
      class="mr-10px"
    />
    Sign up / log in with Google
  </button>
  <button
    data-control-name="log-in-cta"
    data-control-login-option="sign-up-with-deso-seed"
    class="button--primary button--medium margin-bottom--medium"
    [routerLink]="['/sign-up']"
    queryParamsHandling="merge"
  >
    Sign up with DeSo seed
  </button>
  <a
    data-control-name="log-in-cta"
    data-control-login-option="log-in-with-deso-seed"
    class="link" [routerLink]="['/load-seed']" queryParamsHandling="merge"
  >
    <u>Import existing DeSo account</u>
  </a
  >
</div>
