<div class="d-flex align-items-center flex-column">
  <button
    class="button button-large mb-20px bg-dark text-white"
    (click)="navigateToMetamaskSignup()"
    queryParamsHandling="merge"
    *ngIf="globalVars.showMetamask()"
  >
    <img src="assets/metamask.png" height="32px" width="32px" class="mr-10px" />

    <span class="font-weight-bold">Sign up / log in with MetaMask</span>
  </button>
  <button
    class="button button-large button-primary mb-20px"
    (click)="launchGoogle()"
    *ngIf="!globalVars.hideGoogle"
  >
    <img
      src="assets/google_logo.svg"
      height="32px"
      width="32px"
      class="mr-10px"
    />
    <span class="font-weight-bold">Sign up / log in with Google</span>
  </button>
  <button
    class="button button-large button-secondary mb-20px"
    [routerLink]="['/sign-up']"
    queryParamsHandling="merge"
  >
    <span class="font-weight-normal">Sign up with DeSo seed</span>
  </button>
  <a class="link" [routerLink]="['/load-seed']" queryParamsHandling="merge"
    ><u>Log in with DeSo seed</u></a
  >
</div>
